@charset "UTF-8";

/* ========================================================================================================
   | ☁️ Header [DESKTOP] | ================================================================================ 
   ========================================================================================================  */

/* |--------------------------------| 🖼️ Banner 🖼️ |----------------------------------|💻|  */

	header #main-banner {
		width: 100%;
		height: 340rem;
		background-image: url('{BASE-PATH}/images/banner.jpg');
	}

/* |---------------------------| ✈️ Language Switcher ✈️ |----------------------------|💻|  */

	div#language-switcher-desktop {
		float: left;
	}

	#language-switcher-desktop button {
		width: 50rem;
		height: 38rem;
		min-width: 35px;
		min-height: 25px;
		border: calc(2.1rem + 2px) solid #000000;
	}

	#language-switcher-desktop a:nth-of-type(1) button {
		border-right: 0;
	}

	button.language-portuguese-flag {
		background-image: url("{BASE-PATH}/images/br_icon.jpg");
	}

	button.language-english-flag {
		background-image: url("{BASE-PATH}/images/en_icon.jpg");
	}	

	#language-switcher-desktop button:not(.selected) {
		filter: grayscale(5%) brightness(0.45);
		-webkit-filter: grayscale(5%) brightness(0.45);
	}		

	#language-switcher-desktop button:not(.selected):hover {
		filter: brightness(1);
		-webkit-filter: brightness(1);
	}		

/* |-------------------------------| 🔎 Search Bar 🔍 |-------------------------------|💻|  */

	form#search-wrapper-desktop {
		float: right;
		margin-top: 6rem;
		margin-right: 16rem;
		overflow: hidden;
	}

	div#search-bar-wrapper-desktop {
		position: relative;
		display: inline;
		left: 0;
		transition: left ease-in-out 0.45s, right ease-in-out 0.45s;
	}

	#search-bar-wrapper-desktop.search-bar-closed {
		left: 300rem;
	}

	button#showhide-search {
		position: relative;
		width: 47rem;
		height: 68rem;
		border: solid 6rem #000000;
		border-radius: 50rem 0 0 50rem;
		background-color: rgb(221, 221, 221);
	}

	button#showhide-search svg {
		position: absolute;
		width: 62rem;
		top: -1.3rem;
		left: -10rem;
	}

	button#showhide-search:hover {
		filter: brightness(75%);	
		-webkit-filter: brightness(75%);	
	}

	div#search-bar-desktop {
		display: inline-block;
		vertical-align: top;
		width: calc(340rem - 47rem);
		height: 66rem;
		margin-top: 1rem;
		margin-right: 0;		
		border-top: solid 6rem #000000;
		border-bottom: solid 6rem #000000;
		background-color: rgba(221, 221, 221, 0.96);
		transition: width 0.45s ease-in-out, margin-right 0.45s ease-in-out;
	}

	.search-bar-closed #search-bar-desktop {
		width: 50rem;
		margin-right: 244rem;
	}	

	input#search-input-desktop {
		height: 100%;
		width: 100%;
		padding: 0 18rem;
		font-size: 36rem;
		outline: none;
		border: none;
		background: none;
		font-family: frizquadrata;
		font-weight: bold;
		text-transform: lowercase;
		transition: opacity 0.35s linear 0.25s;
		opacity: 1;		
	}	

	#search-input-desktop::placeholder {
		color: #999999;
		text-transform: none;
	}

	.search-bar-closed #search-input-desktop, 
	.search-bar-closed #search-input-desktop::placeholder {
		opacity: 0;
	}	

	button#search-desktop {
		position: relative;
		width: 80rem;
		height: 68rem;
		border: solid 6rem #000000;
		border-radius: 0 35rem 35rem 0;
		background-color: rgb(221, 221, 221);
	}

	button#search-desktop svg {
		position: absolute;
		width: 52rem;		
		top: 3rem;
		left: 3.5rem;		
	}

	button#search-desktop:hover {
		filter: brightness(75%);
		-webkit-filter: brightness(75%);
	}	

	.search-bar-closed + button#search-desktop:hover {
		filter: none;
		-webkit-filter: none;
		cursor: inherit;
	}	

	.search-button-desktop-click-animation {
		animation: search-button-desktop-click-animation 0.28s none;
	}	

	@keyframes search-button-desktop-click-animation {
		0% { transform: scale(1) translate(0%, 0%); }
		50% { transform: scale(0.92) translate(-5%, 0%); }
		100% { transform: scale(1) translate(0%, 0%); }
	}	

/* |-----------------------------| 🔗 Navigation Bar 🔗 |-----------------------------|💻|  */

	nav#menu-desktop {
		position: relative;
		width: 100%;
		margin-top: -15rem;
	}

	#menu-desktop::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 190rem;	
		top: -55rem;
		left: 0;
		background-image: url('{BASE-PATH}/images/barra_espinhos.png');
		background-size: 100% 100%;
		pointer-events: none;	
		z-index: 1;	
	}

	nav#menu-desktop button {
		height: 80rem;
		font-family: batukapur;
		font-size: 37rem;
		text-shadow: 4rem 4rem 22rem rgba(0, 0, 0, 0.9), 4rem 4rem 22rem rgba(0, 0, 0, 0.9);
		color: #DDDDDD;
	}

	nav#menu-desktop button:hover {
		filter: brightness(125%);
		-webkit-filter: brightness(125%);
	}	

	button#home-desktop {
		width: 22%;
		margin-left: -3rem;
		background-image: url('{BASE-PATH}/images/barra_1.png');
	}	

	button#trading-desktop {
		width: 25%;
		margin-left: -1rem;	
		background-image: url('{BASE-PATH}/images/barra_2.png');
	}		

	button#videos-desktop {
		width: 25%;	
		margin-left: -3rem;	
		background-image: url('{BASE-PATH}/images/barra_3.png');
	}	

	.navigation-button-desktop-click-animation {
		animation: navigation-button-desktop-click-animation 0.26s none;
	}	

	@keyframes navigation-button-desktop-click-animation {
		0% {  transform: translateY(0rem); }
		30% { transform: translateY(3.2rem); }
		70% {  transform: translateY(3.2rem); }
		100% {  transform: translateY(0rem); }
	}	

	button#more-desktop {
		position: relative;
		width: calc((100% + 3rem + 1rem + 3rem) - (22% + 25% + 25%));
		margin-left: -2rem;		
		background-image: url('{BASE-PATH}/images/barra_4.png');
	}	

	div#more-dropdown-menu-desktop {
		display: none;
		position: absolute;
		top: 78rem;
		right: 0;
		width: calc((100% + 3rem + 1rem + 3rem) - (22% + 25% + 25%));
		text-align: center;
		z-index: 1;
	}

	/* Keep the sub menu open while hovering over it or the button used to show it */
	button#more-desktop:hover + div#more-dropdown-menu-desktop, 
	div#more-dropdown-menu-desktop:hover {
		display: block;
	}

	#more-dropdown-menu-desktop button {
		position: relative;		
		width: 94%;
		margin-top: -4rem;
		font-size: 34rem;
	}

	button#more-desktop:has(+ #more-dropdown-menu-desktop:hover) {
		filter: brightness(125%);
		-webkit-filter: brightness(125%);
	}		

	button#combat-desktop {
		z-index: 1;
		background-image: url('{BASE-PATH}/images/sub_barra_1.png');
	}
	button#food-desktop {
		z-index: 2;
		background-image: url('{BASE-PATH}/images/sub_barra_2.png');
	}	
	button#map-desktop {
		z-index: 3;
		background-image: url('{BASE-PATH}/images/sub_barra_3.png');
	}		
	button#show-everything-desktop {
		z-index: 2;
		margin-top: -8rem;
		background-image: url('{BASE-PATH}/images/sub_barra_4.png');
	}		

/* ========================================================================================================
   | 📑 Page Content [DESKTOP] | ========================================================================== 
   ========================================================================================================  */

/* |----------------------------------| 📄 Body 📄 |----------------------------------|💻|  */

   body {
		background-position-y: 340rem;
		background-attachment: fixed;
		background-size: 2000rem 1000rem;	
		background-repeat: no-repeat;		
		background-image: url('{BASE-PATH}/images/fundo.jpg');
		background-color: #000000;
	}

/* |--------------------------| 🎯 Page Content Wrapper 🎯 |--------------------------|💻|  */

	div.page-content-wrapper {
		position: relative;
		width: calc(100% - 36rem);
		margin: 10rem 18rem 15rem 18rem;
		background-color: rgba(255, 255, 255, 0.75);
		padding: 15rem 20rem;
	}	

/* |-------------------------| 💬 Privacy Notice Modal 💬 |---------------------------|💻|  */	

	div#privacy-notice-modal {	
		position: fixed;		
		bottom: calc(-120rem + -100px);
		z-index: 10;
		border: solid calc(5rem + 2px) #000000;
		padding: 10rem;
		background-image: linear-gradient(to bottom, rgba(239, 239, 239, 0.97), rgba(168, 168, 168, 0.97));
		transition: bottom 0.8s;
	}	

	#privacy-notice-modal.show-privacy-notice {
		bottom: 0;
	}

	#privacy-notice-modal p {
		font-family: frizquadrata;
		font-size: calc(22rem + 10px);
		letter-spacing: 1rem;		
		font-weight: bolder;		
		text-align: center;
		margin: 10rem;
	}	

	#privacy-notice-modal button {
		position: relative;		
		float: right;
		width: 40rem;
		height: 40rem;
		min-height: 33px;
		min-width: 33px;
		margin: 0 0 15rem 15rem;
		border: solid calc(1.8rem + 1px) #000000;
		border-radius: calc(2.5rem + 6px);
		background: linear-gradient(to bottom, #8a8a8a 0%, #444 20%, #111 55%, #555 100%);		
		box-shadow: inset 0 0.5rem 0.5rem rgba(255, 255, 255, 0.45), inset 0 -1rem 2rem rgba(0, 0, 0, 0.8), 0 1rem 2.5rem rgba(0, 0, 0, 0.45);
	}

	#privacy-notice-modal button::before {
		content: '';
		position: absolute;
		inset: calc(1.5rem + 1px);
		border-radius: calc(2.5rem + 3px);
		background: linear-gradient(to bottom, #2f2f2f 0%, #1b1b1b 35%, #090909 100%);
		box-shadow: inset 0 0.5rem 0.5rem rgba(255, 255, 255, 0.18), inset 0 -1.5rem 3rem rgba(0, 0, 0, 0.85);
	}

	#privacy-notice-modal button::after {
		content: "";
		position: absolute;
		left: 4rem;
		right: 4rem;
		top: 3.5rem;
		height: 45%;
		border-radius: 6rem 6rem 20rem 20rem;
		background: linear-gradient(to bottom, rgba(255,255,255,0.28), rgba(255,255,255,0.08) 60%, rgba(255,255,255,0));
	}
	
	#privacy-notice-modal button svg {
		width: 34rem;
		min-width: 30px;
		z-index: 2;
		filter: drop-shadow(0 0 1rem #000000);
		-webkit-filter: drop-shadow(0 0 1rem #000000);
		stroke: rgb(252, 39, 39);
	}

	#privacy-notice-modal button:hover {
		filter: brightness(155%);
		-webkit-filter: brightness(155%);
	}	

	#privacy-notice-modal button:hover > svg {
		stroke: rgb(255, 15, 15);
	}	

/* |---------------------------------| 🦶 Footer 🦶 |---------------------------------|💻|  */	

	footer {
		display: table;
		width: 100%;
		font-family: frizquadrata;
		font-size: 29rem;
		font-weight: bold;
		color: #504f4f;
		margin-top: 20rem;
	}

	footer p, footer address {
		display: table-cell;
		width: 50%;
	}

	footer address {
		text-align: right;
		font-style: normal;
	}

	footer address a {
		text-decoration: none;
		color: inherit;
	}	

/* ========================================================================================================
   | ☁️ Header [MOBILE] | ================================================================================= 
   ========================================================================================================  */

@media screen and (max-width: 800px) {
	header#main-header {
		margin-bottom: -10rem;
	}

	#main-header.top-bar-mobile-fixed {
		/* Total height of the top-bar-mobile */
		padding-bottom: calc(340rem - 15rem);
	}
}	

/* |--------------------------------| 🖼️ Banner 🖼️ |----------------------------------|📱|  */

@media screen and (max-width: 800px) {
	header #main-banner {
		background-image: url('{BASE-PATH}/images/banner_mobile.jpg');
		height: 470rem;
	}
}	

/* |---------------------------------| ⚙️ Top Bar ⚙️ |--------------------------------|📱|  */

@media screen and (max-width: 800px) {
	div#top-bar-mobile {
		display: inline-block;
		width: 100%;
		height: 340rem;		
		margin-top: -15rem;
		padding: 65rem 70rem 0 70rem;
		background-image: url('{BASE-PATH}/images/barra_mobile.png');
	}

	header.top-bar-mobile-fixed #top-bar-mobile {
		position: fixed;		
		top: 0;
		z-index: 1;
	}	

	button#open-menu-mobile {
		width: 330rem;
		height: 195rem;
		margin-right: 55rem;
		border: solid 14rem #000000;
		border-radius: 30rem;
		box-shadow: 6rem 6rem 16rem rgba(0, 0, 0, 0.8);
		background-image: linear-gradient(#8D8D8D, #DDDDDD, #8D8D8D);
	}

	button#open-menu-mobile svg {
		width: 250rem;
		height: 250rem;
	}

	.open-menu-mobile-button-click-animation {
		animation: open-menu-mobile-button-click-animation 0.2s none;
	}	

	@keyframes open-menu-mobile-button-click-animation {
		0% { transform:scale(1); filter:brightness(100%); }
		50% { transform:scale(0.9); filter:brightness(70%); }
		0% { transform:scale(1);  filter:brightness(100%); }
	}
}
	
/* |---------------------------| ✈️ Language Switcher ✈️ |----------------------------|📱|  */

@media screen and (max-width: 800px) {
	button#language-switcher-mobile {
		width: 230rem;
		height: 175rem;
		margin-top: 15rem;
		border: solid 16rem #000000;
		border-radius: 15rem;
		vertical-align: top;
		box-shadow: 6rem 7rem 6rem rgba(0,0,0,0.3);
	}

	.switch-to-english-language {
		background-image: url('{BASE-PATH}/images/botao-linguagem-ingles-mobile.jpg');		
	}

	.switch-to-portuguese-language {
		background-image: url('{BASE-PATH}/images/botao-linguagem-portugues-mobile.jpg');		
	}	

	.language-switcher-mobile-click-animation {
		animation: language-switcher-mobile-click-animation 0.2s none;
	}	

	@keyframes language-switcher-mobile-click-animation {
		0% { transform:scale(1); filter:brightness(100%); }
		50% { transform:scale(0.9); filter:brightness(70%); }
		0% { transform:scale(1);  filter:brightness(100%); }
	}	
}

/* |-------------------------------| 🔎 Search Bar 🔍 |-------------------------------|📱|  */

@media screen and (max-width: 800px) {
	form#search-wrapper-mobile {
		float: right;
		height: 180rem;
	}

	div#search-bar-mobile {
		display: inline-block;
		width: 820rem;
		height: 100%;
		border: solid 16em #000000;
		border-right: none;
		border-radius: 8rem 0 0 8rem;
		background-color: rgba(221, 221, 221, 0.96);
		box-shadow: 0 10rem 8rem rgba(0,0,0,0.6);
	}	

	input#search-input-mobile {
		height: 100%;
		width: 100%;
		padding: 0 40rem 5rem 40rem;
		font-size: 100rem;
		outline: none;
		border: none;
		background: none;
		font-family: frizquadrata;
		font-weight: bold;	
		text-transform: lowercase;
	}	

	#search-input-mobile::placeholder {
		color: #999999;
		text-transform: none;
	}

	button#search-mobile {
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 200rem;
		height: 100%;
		border: solid 16rem #000000;
		border-radius: 0 90rem 90rem 0;
		background-color: rgb(221, 221, 221);
		box-shadow: 6rem 12rem 12rem rgba(0,0,0,0.6);	
	}

	button#search-mobile svg {
		position: absolute;
		width: 125rem;		
		top: 14rem;	
		left: 15rem;	
	}	

	.search-button-mobile-click-animation {
		animation: search-button-mobile-click-animation 0.35s none;
	}	

	@keyframes search-button-mobile-click-animation {
		0% { transform: scale(1) translate(0%, 0%); filter: brightness(100%); }
		50% { transform: scale(0.94) translate(-3%, -1%); filter: brightness(70%); }
		100% { transform: scale(1) translate(0%, 0%); filter: brightness(100%); }
	}
}	

/* |-----------------------------| 🧾 Menu Mobile 🧾 |------------------------------|📱|  */

@media screen and (max-width: 800px) {
	div#menu-mobile-wrapper {
		position: fixed;
		width: 0;
		height: 100vh;
		top: 0;
		z-index: 1;
		pointer-events: none;
		overflow: hidden;
		transition: width 0.5s ease-out;
	}

	#menu-mobile-wrapper.menu-mobile-open {
		width: 100%;
		pointer-events: inherit;
		transition-duration: 0.6s;
	}	

	.menu-mobile-open > button#close-menu-mobile {	
		left: 930rem;
		transition-delay: 0.08s;
	}		

	div#menu-mobile-wrapper.menu-mobile-open::before {
		content: '';			
		position: fixed;
		width: 100%;
		height: 100vh;	
		top: 0;
		left: 0;	
		background-color: rgba(0, 0, 0, 0.7);			
	}	

	aside#menu-mobile {
		position: relative;
		width: 1000rem;
		height: 100%;	
		z-index: 1;
		background-image: url('{BASE-PATH}/images/menu_lateral_fundo.jpg');
		background-size: 665px 490px;
	}

	aside#menu-mobile button, aside#menu-mobile h1 {
		font-family: batukapur;	
	}

	aside#menu-mobile::before {
		content: '';
		position: absolute;
		width: 420rem;
		height: 100vh;	
		right: -210rem;
		background-image: url('{BASE-PATH}/images/menu_lateral_borda.png');
		background-size: 100% 100%;
		pointer-events: none;	
		z-index: 5;
	}

	div#menu-mobile-title-wrapper {
		position: relative;
		width: 100%;
		height: 320rem;
		background-image: url('{BASE-PATH}/images/menu_lateral_titulo_fundo.jpg');
	}

	#menu-mobile-title-wrapper::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 280rem;	
		bottom: -155rem;
		background-image: url('{BASE-PATH}/images/menu_lateral_divisao.png');
		background-size: 100% 100%;
		pointer-events: none;
		z-index: 5;
	}

	#menu-mobile-title-wrapper h1 {
		font-size: 150rem;
		font-weight: normal;
		text-align: center;	
		color: #DDDDDD;	
		text-shadow: 8rem 8rem 44rem rgba(0, 0, 0, 0.9), 8rem 8rem 44rem rgba(0, 0, 0, 0.9), 8rem 8rem 44rem rgba(0, 0, 0, 0.9);	
		line-height: 320rem;
	}

	#home-mobile, #trading-mobile, #videos-mobile, #more-mobile {
		width: 100%;
		height: 280rem;
		font-size: 130rem;
	}

	#menu-mobile nav button {
		position: relative;		
		color: #CCCCCC;
		text-shadow: 8rem 8rem 44rem rgba(0, 0, 0, 0.9), 8rem 8rem 44rem rgba(0, 0, 0, 0.9);	
	}

	button#home-mobile {
		z-index: 4;
		background-image: url('{BASE-PATH}/images/menu_lateral_botao1.png');
	}	

	button#trading-mobile {
		z-index: 3;
		top: -25rem;
		background-image: url('{BASE-PATH}/images/menu_lateral_botao2.png');
	}		

	button#videos-mobile {
		z-index: 2;		
		top: -45rem;
		background-image: url('{BASE-PATH}/images/menu_lateral_botao3.png');
		background-color: #000000;
	}	

	button#more-mobile {
		position: relative;
		top: -65rem;		
		line-height: 280rem;
		z-index: 2;		
		background-image: url('{BASE-PATH}/images/menu_lateral_botao4.png');
		transition: filter 0.22s;
	}	

	.more-mobile-menu-open {
		filter: brightness(125%);
		-webkit-filter: brightness(125%);
	}		

	#more-mobile svg {
		width: 180rem;
		vertical-align: middle;
		fill: #CCCCCC;	
		filter: drop-shadow(0 0 7rem #000000) drop-shadow(0 0 7rem #000000);	
		transition: transform 0.22s ease-in-out
	}	

	#more-mobile span {
		margin: 0 -35rem 0 -45rem;
	}		

	.more-mobile-menu-open svg:nth-of-type(1) {
		transform: rotate(90deg);
	}

	.more-mobile-menu-open svg:nth-of-type(2) {
		transform: rotate(-90deg);
	}		
	
	div#more-dropdown-menu-mobile {
		position: absolute;
		top: 450rem;
		width: 98%;
		text-align: center;
		padding: 0 1.5%;
		transition: top 0.25s;
	}

	#more-dropdown-menu-mobile button {
		width: 100%;
		height: 220rem;
		font-size: 110rem;
	}

	.more-mobile-menu-open + #more-dropdown-menu-mobile {
		top: 1350rem;
	}		

	#more-dropdown-menu-mobile a:last-of-type button  { /* Show Everything Option */
		font-size: 100rem;
	}	

	button#combat-mobile {
		background-image: url('{BASE-PATH}/images/sub_barra_1.png');
	}
	button#food-mobile {
		top: -15rem;
		background-image: url('{BASE-PATH}/images/sub_barra_2.png');
	}	
	button#map-mobile {
		top: -35rem;
		z-index: 1;
		background-image: url('{BASE-PATH}/images/sub_barra_3.png');
	}		
	button#show-everything-mobile {
		top: -60rem;
		background-image: url('{BASE-PATH}/images/sub_barra_4.png');
	}		

	.navigation-button-mobile-click-animation {
		animation: navigation-button-mobile-click-animation 0.22s none;
	}	

	@keyframes navigation-button-mobile-click-animation {
		0% { transform:translateY(0) }
		50% { transform:translateY(6rem) }
		100% { transform:translateY(0) }
	}

	button#close-menu-mobile {
		position: absolute;
		width: 300rem;
		height: 210rem;
		top: 70rem;		
		left: 600rem;	
		border: solid 18rem #FF0000;
		border-radius: 0 180rem 180rem 0;	
		text-align: end;	
		padding-right: 20rem;
		background-color: #000000;	
		transition: left 0.3s;
	}

	button#close-menu-mobile svg {
		width: 180rem;
		stroke: #FF0000;
	}		
}

/* ========================================================================================================
   | 📑 Page Content [MOBILE] | =========================================================================== 
   ========================================================================================================  */

/* |----------------------------------| 📄 Body 📄 |----------------------------------|📱|  */

@media screen and (max-width: 800px) {
   body {
		background-size: 2000rem 1900rem;		
		background-image: url('{BASE-PATH}/images/fundo_mobile.jpg');
	}   
}

/* |--------------------------| 🎯 Page Content Wrapper 🎯 |--------------------------|📱|  */

@media screen and (max-width: 800px) {
	div.page-content-wrapper {
		margin-bottom: 30rem;
	}	
}

/* |-------------------------| 💬 Privacy Notice Modal 💬 |---------------------------|📱|  */	

@media screen and (max-width: 800px) {
	div#privacy-notice-modal {		
		bottom: -215px;
		padding: 10px;
		border: solid 5px #000000;
	}	

	#privacy-notice-modal p {
		font-size: calc(25rem + 12px);
		margin: 5px;
	}	

	#privacy-notice-modal button {
		width: 120rem;
		height: 120rem;
		border-radius: calc(26rem + 2px);
		border: solid 6rem #000000;
		box-shadow: inset 0 1.5rem 1.5rem rgba(255, 255, 255, 0.45), inset 0 -3rem 5rem rgba(0, 0, 0, 0.8), 0 3rem 7.5rem rgba(0, 0, 0, 0.45);			
	}

	#privacy-notice-modal button::before {
		inset: 5rem;
		border-radius: calc(12rem + 2px);
		box-shadow: inset 0 1.5rem 1.5rem rgba(255, 255, 255, 0.18), inset 0 -4.5rem 8rem rgba(0, 0, 0, 0.85);
	}

	#privacy-notice-modal button::after {
		left: 12rem;
		right: 12rem;
		top: 9rem;
		height: 45%;
		border-radius: 12rem 12rem 40rem 40rem;
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0.28), rgba(255, 255, 255, 0.08) 60%, rgba(255, 255, 255, 0));
	}
	
	#privacy-notice-modal button svg {
		width: 111rem;
		filter: drop-shadow(0 0 3.5rem #000000);
		-webkit-filter: drop-shadow(0 0 3.5rem #000000);
	}   
}

/* |---------------------------------| 🦶 Footer 🦶 |---------------------------------|📱|  */	

@media screen and (max-width: 800px) {
	footer {
		display: block;
		font-size: 80rem;
		text-align: center;
		padding: 30rem 0 20rem 0;
		margin-top: 0;
	}

	footer p, footer address {
		display: block;
		text-align: center;
		width: 100%;
	}	
}