@charset "UTF-8";
/* Corpo de Todo o Site */	
	body {
		position: relative;
       	overflow-x: hidden;
		margin: 0vw;
		cursor: url('../_recursos/cursor.cur'), auto;
		padding: 0vw;
		width: 98.78vw;
		max-width: 100%;
		display: block;
	}	
/* Corpo da Pagina */
	div#corpo {
		background-image: url('../_imagens/fundo.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: 98.78vw 100%;
		position: relative;
		top: 0vw;
		width: 99vw;
		height: 82vw;
		max-width: 100%;
		overflow: hidden;
	}	
	div#fundobranco {
		position: relative;
		background-color: rgba(255, 255, 255, 0.75);
		width: 97.8%;
		height: 94%;
		top: 3.8vw;
		margin: 0vw 0.9vw 0.75vw 0.9vw;
		max-width: 100%;
	}
	div#conteudo {
		position: relative;
		width: 100%;
		height: 100%;
		font-size: 2vw;
		font-family: frizquadrata;
		top: 0vw;
		max-width: 100%;
	}
/* Corpo da Pagina - Mobile */
	@media screen and (max-width: 800px) {
		div#corpo {
			background-image: url('../_imagens/fundo_mobile.jpg');
			background-color:#000000;
			margin-top: -5.4vw;
			height: 250vw;
			background-size: 120% 100%;
			overflow: hidden;
		}
		div#fundobranco {
			top: 4.5vw;
			width: 97.6vw !important;
			margin: 0vw 0vw 0.75vw 1.6vw !important;
			height: 97.7%;
		}
	}
/* Conteudo da Pagina */
/* Introducao Combate */
#banner-combate img {
	width: 98%;
	height: 100px;
	margin: 1% 1% 0% 1%;
}
h1 {
	position: relative;
	top: -115px;
	text-align: center;
	font-family: batukapur;
	font-weight: normal;
	font-size: 48px;
	color: #00D900;
	text-shadow: 3px 0 0 rgb(0, 0, 0), -3px 0 0 rgb(0, 0, 0), 0 3px 0 rgb(0, 0, 0), 0 -3px 0 rgb(0, 0, 0), 1.5px 1.5px rgb(0, 0, 0), -1.5px -1.5px 0 rgb(0, 0, 0), 1.5px -1.5px 0 rgb(0, 0, 0), -1.5px 1.5px 0 rgb(0, 0, 0);
}
#combate-introducao {
	position: relative;
	top: -130px;
	border: 8px solid #000000;
	margin: 0 1% 0% 1%;
	background-image: url(../_imagens/fundo_ultimos_posts.jpg);
	background-size: cover;
	font-size: 25px;
	font-weight: bolder;
	color: #FFFFFF;
	text-shadow: 2.5px 0 0 rgb(0, 0, 0), -2.5px 0 0 rgb(0, 0, 0), 0 2.5px 0 rgb(0, 0, 0), 0 -2.5px 0 rgb(0, 0, 0), 1.2px 1.2px rgb(0, 0, 0), -1.2px -1.2px 0 rgb(0, 0, 0), 1.2px -1.2px 0 rgb(0, 0, 0), -1.2px 1.2px 0 rgb(0, 0, 0);
}
hr {
	height: 7px;
	background: #000000;
	border:none;
 }
.link {
	color: #00D900;
}
.sublinhado {
	border-bottom: 2px solid #ffffff;
	font-weight: bolder;
}
.sub-titulo {
	font-weight: bolder;
	text-align: center;
	margin-top: 3px;
}
.amarelo {
	color: yellow;
}
#combate-introducao p {
	margin: 15px 15px 15px 15px;
}
#p-introducao {
	text-indent: 50px;
	text-align: center;
}
#odongs {
	text-align: left;
	color: #DDDDDD;
	font-size: 26px;
	font-weight: normal;
}
#introducao-sub, #introducao-sub1, #introducao-sub2 {
	font-weight: bolder;
}
p#aviso-introducao {
	font-weight: normal;
}
.hr-fino {
	height: 5px;
	background: #000000;
	border:none;
}
/* Footer */
	footer {
		display: none;
		position: relative;
		font-size: 1.45vw;
		font-weight: bold;
		font-family: frizquadrata;
		color:#504f4f;
		margin-left: 1%;
		margin-right: 1%;
		top: -9.1vw;
		overflow: hidden;
	}
	footer ul {
		padding: 0%;
		margin:0;
	}
	footer li {
		list-style: none;
		display: inline-block;
	}
	footer li#contato {
		float: right;
		font-weight: bold;
	}
	footer li#contato span {
		font-weight: bolder;
	}
	footer li#copyright {
		float: left;
	}
/* Footer (Mobile) */
	@media screen and (max-width: 800px) {
		footer {
			font-size: 4vw;
			margin-left: 1%;
			margin-right: 1%;
			top: -29.8vw;
			text-align: center;
		}
		footer li#contato {
			float: none;
		}
		footer li#copyright {
			float: none;
		}
		footer ul {
			padding: 0;
			margin-top: 4.5%;
			margin-bottom: 0;
		}
	}
	/* Desktop */
	@media screen and (min-width: 800px) {

	  }