@charset "UTF-8";
/* Corpo de Todo o Site */	
	body {
		position: relative;
       	overflow-x: hidden;
		margin: 0vw;
		cursor: url('../_recursos/cursor.cur'), auto;
		padding: 0vw;
		width: 98.78vw;
		max-width: 100%;
		display: block;
		min-height: 100vh;
	}	
/* Corpo da Pagina */
	div#corpo {
		background-image: url('../_imagens/fundo.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: 98.78vw 100%;
		position: relative;
		top: 0;
		width: 99vw;
		max-width: 100%;
		overflow: hidden;
		color: #FFFFFF;
	}	
	div#fundobranco {
		position: relative;
		background-color: rgba(255, 255, 255, 0.75);
		width: 97.8%;
		height: 99.53%;
		top: 3.8vw;
		margin: 0vw 0.9vw 5vw 0.9vw;
		max-width: 100%;
	}
	div#conteudo {
		width: 100%;
		height: 100%;
		font-size: 2vw;
		font-family: frizquadrata;
		top: 0vw;
		max-width: 100%;
	}
/* Corpo da Pagina - Mobile */
	@media screen and (max-width: 800px) {
		div#corpo {
			background-image: url('../_imagens/fundo_mobile.jpg');
			background-color:#000000;
			margin-top: -5.4vw;
			height: 100%;
			background-size: 120% 100%;
			overflow: hidden;
		}
		div#fundobranco {
			top: 4.5vw;
			width: 97.6vw !important;
			margin: 0vw 0vw 7vw 1.6vw !important;
			height: 99.65%;
		}
	}
/* Padrões */
p span.amarelo {
	font-weight: normal;
	color: #FFFF00;
	border-bottom: none;
}
p span.sublinhado {
	font-weight: bold;
	color: #FFFFFF;
	border-bottom: solid #FFFFFF 3px;
}
div.dica-padrao p span.sublinhado {
	font-weight: bold;
	color: #96E2E5;
	border-bottom: solid #96E2E5 2px;
}
p.atencao-padrao {
	margin: 10px 20px 19px 20px;
	max-width: 1200px;
	min-width: 200px;
	text-align: justify;
	font-size: 24px;
	text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
}
.banner img {
	width: 98%;
	height: 100px;
	margin: 1% 1% 0% 1%;
	box-shadow: 3.5px 3.5px 3px rgba(0, 0, 0, 0.7);
}
h1.titulo, h1.titulo-maior {
	position: relative;
	margin-top: -81.5px;
	text-align: center;
	font-family: batukapur;
	font-weight: normal !important;
	font-size: 48px;
	color: #00D900;
	text-shadow: 3px 0 0 rgb(0, 0, 0), -3px 0 0 rgb(0, 0, 0), 0 3px 0 rgb(0, 0, 0), 0 -3px 0 rgb(0, 0, 0), 1.5px 1.5px rgb(0, 0, 0), -1.5px -1.5px 0 rgb(0, 0, 0), 1.5px -1.5px 0 rgb(0, 0, 0), -1.5px 1.5px 0 rgb(0, 0, 0);
	letter-spacing: 1px;
}
section {
	margin: -15px 1% 0% 1%;
	border: 8px solid #000000;
	background-image: url("../_imagens/fundo_infinito.jpg");
	background-repeat: repeat;
	text-shadow: 2.5px 0 0 rgb(0, 0, 0), -2.5px 0 0 rgb(0, 0, 0), 0 2.5px 0 rgb(0, 0, 0), 0 -2.5px 0 rgb(0, 0, 0), 1.2px 1.2px rgb(0, 0, 0), -1.2px -1.2px 0 rgb(0, 0, 0), 1.2px -1.2px 0 rgb(0, 0, 0), -1.2px 1.2px 0 rgb(0, 0, 0);
	box-shadow: 3.5px 3.5px 3px rgba(0, 0, 0, 0.7);
}
article picture.imagem img {
	border: solid #000000 6px;
	width: 70vw;
	max-width: 1085px;
	margin: 2% 0 1.2% 0;
	box-shadow: 2.5px 2.5px 2px rgba(0, 0, 0, 0.7);
}
article {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
article p {
	font-size: 30px;
	text-align: center;
	text-indent: 30px;
	margin: 1% 2% 0% 2%;
}
div.dica-padrao {
	width: 100%;
	border-top: 7px solid #000000;
}
div.dica-padrao p {
	margin: 1% 2% 1% 2%;
	color: #BFEDEF;
	max-width: 1300px;
	min-width: 200px;
	font-weight: normal;
	text-align: justify;
	font-size: 24px;
	text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
	text-indent: 0;
}
div.sub-titulo {
	border-top: 7px solid #000000;
	border-bottom: 7px solid #000000;
	background-image: url(../_imagens/fundo_infinito_escuro.jpg);
	background-repeat: repeat;
	background-size: cover;
	min-width: 100%;
	width: 100%;
}
div.sub-titulo h2 {
	font-size: 38px;
	text-align: center;
	font-weight: normal;
	margin: 0.6% 2% 0.6% 2%;
	font-family: batukapur;
	color: #44BD2F;
	text-shadow: 2.5px 0 0 rgb(0, 0, 0), -2.5px 0 0 rgb(0, 0, 0), 0 2.5px 0 rgb(0, 0, 0), 0 -2.5px 0 rgb(0, 0, 0), 1.2px 1.2px rgb(0, 0, 0), -1.2px -1.2px 0 rgb(0, 0, 0), 1.2px -1.2px 0 rgb(0, 0, 0), -1.2px 1.2px 0 rgb(0, 0, 0);
	letter-spacing: 0.1vw;
}
/* Tabelas */
div.troca-resumida {
	width: 100%;
	border-top: 7px solid #000000;
	display: flex;
	align-items: center;
	justify-content: center;
}
div.troca-resumida table.tabela-primaria {
	border-collapse: collapse;
	margin: 2%;
	min-width: 70vw;
	box-shadow: 2.2px 2.2px 1px rgba(0, 0, 0, 0.9);
}
table.tabela-primaria tr.tabela-titulo {
	background-image: url("../_imagens/fundo_tabela.jpg");
	background-repeat: repeat;
}
table.tabela-primaria tr.tabela-titulo h2 {
	font-size: calc(5px + 1.8vw);
	text-shadow: 2.4px 0 0 rgb(0, 0, 0), -2.4px 0 0 rgb(0, 0, 0), 0 2.4px 0 rgb(0, 0, 0), 0 -2.4px 0 rgb(0, 0, 0), 1.3px 1.3px rgb(0, 0, 0), -1.3px -1.3px 0 rgb(0, 0, 0), 1.3px -1.3px 0 rgb(0, 0, 0), -1.3px 1.3px 	0 rgb(0, 0, 0);
	padding: 0;
	margin: 0;
}
div.troca-resumida table.tabela-primaria h3 {
	font-size: calc(2px + 1.8vw);
	font-weight: normal;
	margin: 0.4vw 0.5vw;
}
div.troca-resumida table.tabela-primaria th {
	border: 6px solid #000000;
	padding: 10px;
}
div.troca-resumida table th.retrato {
	min-width: 15vw;
	width: 15vw;
	min-height: 11.25vw;
	height: 11.25vw;
	padding: 0;
}
div.troca-resumida table th.retrato img {
	display: block;
	min-width: 100%;
	width: 100%;
	min-height: calc(11.25vw + 5px);
	height: calc(11.25vw + 5px);
}
div.troca-resumida table th.interesse {
	width: 34vw;
	min-width: 400px;	
	padding: 0;
	background-image: url("../_imagens/fundo_tabela_quer.jpg");
	background-repeat: repeat;
}
div.troca-resumida table th.pode-ter {
	padding: 0;
	background-image: url("../_imagens/fundo_tabela_pode_ter.jpg");
	background-repeat: repeat;
}
table.tabela-secundaria {
	border-collapse: collapse;
	width: 100%;
	min-width: 100%;
	height: 11.25vw;
}
table.tabela-secundaria th.item-img {
	height: 5.625vw;
	width: 5.625vw;
}
table.tabela-secundaria tr.tabela-divisoria-linhas {
	border-bottom: #000000 solid 5px; 
}
div.troca-resumida table.tabela-secundaria th.tabela-divisoria-colunas {
	border-right: #000000 solid 5px; 
}
table.tabela-primaria th table.tabela-secundaria th h3 {
	font-size: calc(2px + 1.45vw);
	text-shadow: 2.3px 0 0 rgb(0, 0, 0), -2.3px 0 0 rgb(0, 0, 0), 0 2.3px 0 rgb(0, 0, 0), 0 -2.3px 0 rgb(0, 0, 0), 1.1px 1.1px rgb(0, 0, 0), -1.1px -1.1px 0 rgb(0, 0, 0), 1.1px -1.1px 0 rgb(0, 0, 0), -1.1px 1.1px 	0 rgb(0, 0, 0);
	margin: 5px 10px;
}
table.tabela-primaria th table.tabela-secundaria th h2 {
	font-size: calc(5px + 1.8vw);
	text-shadow: 2.4px 0 0 rgb(0, 0, 0), -2.4px 0 0 rgb(0, 0, 0), 0 2.4px 0 rgb(0, 0, 0), 0 -2.4px 0 rgb(0, 0, 0), 1.3px 1.3px rgb(0, 0, 0), -1.3px -1.3px 0 rgb(0, 0, 0), 1.3px -1.3px 0 rgb(0, 0, 0), -1.3px 1.3px 	0 rgb(0, 0, 0);
	font-weight: normal;
	letter-spacing: 0;
	margin: 10px;
}
div.troca-resumida table.tabela-secundaria th {
	border: none;
	padding: 0;
}
div.troca-resumida table.tabela-secundaria th img {
	display: block;
	height: 5.625vw;
	border-right: #000000 solid 4px; 
}
div.troca-resumida table.tabela-secundaria th.item-valor {
	border-left: #000000 solid 4px; 
}
div.troca-resumida table.tabela-secundaria th.item-valor h3 {
	font-size: calc(4px + 1.60vw);
	text-shadow: 2.35px 0 0 rgb(0, 0, 0), -2.35px 0 0 rgb(0, 0, 0), 0 2.35px 0 rgb(0, 0, 0), 0 -2.35px 0 rgb(0, 0, 0), 1.15px 1.15px rgb(0, 0, 0), -1.15px -1.15px 0 rgb(0, 0, 0), 1.15px -1.15px 0 rgb(0, 0, 0), -1.15px 1.15px 	0 rgb(0, 0, 0);
}
/* Padrões (Mobile)*/
@media screen and (max-width: 800px) {
	p.atencao-padrao {
		font-size: 18px;
		margin: 5px 20px 11px 20px;
		text-shadow: 1.8px 0 0 rgb(0, 0, 0), -1.8px 0 0 rgb(0, 0, 0), 0 1.8px 0 rgb(0, 0, 0), 0 -1.8px 0 rgb(0, 0, 0), 0.8px 0.8px rgb(0, 0, 0), -0.8px -0.8px 0 rgb(0, 0, 0), 0.8px -0.8px 0 rgb(0, 0, 0), -0.8px 0.8px 0 rgb(0, 0, 0);
	}
	.banner img {
		box-shadow: 2px 2px 1.8px rgba(0, 0, 0, 0.7);
		margin: 2% 1% 0% 1%;
	}
	h1.titulo {
		font-size: 44px;
		margin-top: -75px;
	}
	h1.titulo-maior {
		font-size: 30px;
		margin-top: -85px;
	}
	div#conteudo h1.uma-linha {
		font-size: 33px;
		margin-top: -71px;
	}
	section {
		box-shadow: 2px 2px 1.8px rgba(0, 0, 0, 0.7);
		text-shadow: 1.9px 0 0 rgb(0, 0, 0), -1.9px 0 0 rgb(0, 0, 0), 0 1.9px 0 rgb(0, 0, 0), 0 -1.9px 0 rgb(0, 0, 0), 0.9px 0.9px rgb(0, 0, 0), -0.9px -0.9px 0 rgb(0, 0, 0), 0.9px -0.9px 0 rgb(0, 0, 0), -0.9px 0.9px 0 rgb(0, 0, 0);
	}
	article picture.imagem img {
		width: 85vw;
	}
	article p {
		font-size: 23px;
		text-indent: 30px;
		margin: 1.5% 2% 0% 2%;
		text-shadow: 1.9px 0 0 rgb(0, 0, 0), -1.9px 0 0 rgb(0, 0, 0), 0 1.9px 0 rgb(0, 0, 0), 0 -1.9px 0 rgb(0, 0, 0), 0.9px 0.9px rgb(0, 0, 0), -0.9px -0.9px 0 rgb(0, 0, 0), 0.9px -0.9px 0 rgb(0, 0, 0), -0.9px 0.9px 0 rgb(0, 0, 0);
	}
	div.dica-padrao p {
		margin: 1% 5% 1% 5%;
		text-align: justify;
		font-size: 18px;
		text-shadow: 1.8px 0 0 rgb(0, 0, 0), -1.8px 0 0 rgb(0, 0, 0), 0 1.8px 0 rgb(0, 0, 0), 0 -1.8px 0 rgb(0, 0, 0), 0.8px 0.8px rgb(0, 0, 0), -0.8px -0.8px 0 rgb(0, 0, 0), 0.8px -0.8px 0 rgb(0, 0, 0), -0.8px 0.8px 0 rgb(0, 0, 0);
	}
	div.sub-titulo h2 {
		font-size: calc(20px + 2vw);
		margin: 0.6% 2% 0.6% 2%;
	}
	/* Tabelas - Mobile */
	div.troca-resumida table.tabela-primaria {
		margin: 1.5%;
		min-width: 83vw;
		box-shadow: 2px 2px 1.8px rgba(0, 0, 0, 0.7);
	}
	table.tabela-primaria tr.tabela-titulo h2 {
		font-size: calc(8px + 1.8vw);
		text-shadow: 2.1px 0 0 rgb(0, 0, 0), -2.1px 0 0 rgb(0, 0, 0), 0 2.1px 0 rgb(0, 0, 0), 0 -2.1px 0 rgb(0, 0, 0), 1.2px 1.2px rgb(0, 0, 0), -1.2px -1.2px 0 rgb(0, 0, 0), 1.2px -1.2px 0 rgb(0, 0, 0), -1.2px 1.2px 	0 rgb(0, 0, 0);
	}
	div.troca-resumida table.tabela-primaria h3 {
		margin: 0.4vw 0.5vw;
	}
	div.troca-resumida table.tabela-primaria th {
		border: 5px solid #000000;
		padding: 5px 10px;
	}
	div.troca-resumida table th.retrato {
		min-width: calc(24vw + 4px);
		width: calc(24vw + 4px);
		min-height: calc(19.2vw + 4px);
		height: calc(19.2vw + 4px);
		padding: 0;
	}
	div.troca-resumida table th.retrato img {
		width: 100%;
		height: 100%;
	}
	div.troca-resumida table th.interesse {
		padding: 0;
		min-height: 12vw;
		height: 12vw;
		min-width: 0;
	}
	div.troca-resumida table th.pode-ter {
		padding: 0;
	}
	table.tabela-secundaria {
		min-width: 100%;
		height: 19.2vw;
	}
	table.tabela-secundaria th.item-img {
		height: 9.6vw;
		width: 9.6vw;
	}
	table.tabela-secundaria tr.tabela-divisoria-linhas {
		border-bottom: #000000 solid 4px; 
	}
	div.troca-resumida table.tabela-secundaria th.tabela-divisoria-colunas {
		border-right: #000000 solid 4px; 
	}
	table.tabela-primaria th table.tabela-secundaria th h3 {
		font-size: calc(6px + 1.8vw);
		text-shadow: 1.7px 0 0 rgb(0, 0, 0), -1.7px 0 0 rgb(0, 0, 0), 0 1.7px 0 rgb(0, 0, 0), 0 -1.7px 0 rgb(0, 0, 0), 0.8px 0.8px rgb(0, 0, 0), -0.8px -0.8px 0 rgb(0, 0, 0), 0.8px -0.8px 0 rgb(0, 0, 0), -0.8px 0.8px 	0 rgb(0, 0, 0);
		margin: 0px 5px;
	}
	table.tabela-primaria th table.tabela-secundaria th h2 {
		font-size: calc(10px + 2.3vw);
		text-shadow: 1.9px 0 0 rgb(0, 0, 0), -1.9px 0 0 rgb(0, 0, 0), 0 1.9px 0 rgb(0, 0, 0), 0 -1.9px 0 rgb(0, 0, 0), 0.9px 0.9px rgb(0, 0, 0), -0.9px -0.9px 0 rgb(0, 0, 0), 0.9px -0.9px 0 rgb(0, 0, 0), -0.9px 0.9px 	0 rgb(0, 0, 0);
		margin: 0px 5px;
	}
	div.troca-resumida table.tabela-secundaria th {
		border: none;
		padding: 0;
		min-height: 9vw;
		height: 9vw;
	}
	div.troca-resumida table.tabela-secundaria th img {
		height: 9.6vw;
		border-right: #000000 solid 3px; 
	}
	div.troca-resumida table.tabela-secundaria th.item-valor {
		border-left: #000000 solid 3px; 
	}
	div.troca-resumida table.tabela-secundaria th.item-valor h3 {
		font-size: calc(17px + 1.5vw);
		text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 	0 rgb(0, 0, 0);
	}
}
/* Introducao */
section.introducao {
	display: flex;
	flex-direction: column;
	align-items: center;
}
section.introducao p {
	font-size: 28px;
	text-align: center;
	text-shadow: 2.5px 0 0 rgb(0, 0, 0), -2.5px 0 0 rgb(0, 0, 0), 0 2.5px 0 rgb(0, 0, 0), 0 -2.5px 0 rgb(0, 0, 0), 1.2px 1.2px rgb(0, 0, 0), -1.2px -1.2px 0 rgb(0, 0, 0), 1.2px -1.2px 0 rgb(0, 0, 0), -1.2px 1.2px 0 rgb(0, 0, 0);
	text-indent: 40px;
	font-weight: normal;
	margin: 1% 2% 1.5% 2%;
}
section.introducao picture.introducao-img img {
	border: 6px solid #000000;
	box-shadow: 2.2px 2.2px 1px rgba(0, 0, 0, 0.9);
	width: 65vw;
	min-width: 290px;
	min-height: 190px;
	margin: 0% 0% 2% 0%;
}
/* Introducao - Mobile */
@media screen and (max-width: 800px) {
	section.introducao {
		box-shadow: 2px 2px 1.8px rgba(0, 0, 0, 0.7);
	}
	section.introducao p {
		font-size: 20px;
		text-shadow: 1.9px 0 0 rgb(0, 0, 0), -1.9px 0 0 rgb(0, 0, 0), 0 1.9px 0 rgb(0, 0, 0), 0 -1.9px 0 rgb(0, 0, 0), 0.9px 0.9px rgb(0, 0, 0), -0.9px -0.9px 0 rgb(0, 0, 0), 0.9px -0.9px 0 rgb(0, 0, 0), -0.9px 0.9px 0 rgb(0, 0, 0);
		text-indent: 0;
		margin: 2% 3% 0% 3%;
	}
	section.introducao picture.introducao-img img {
		width: 80vw;
		min-width: 0;
		margin: 2% 0 2% 0;
	}
}
/* Conteudo da Pagina */
    div.teste {
        height: 100vh;
        width: 100%;
    }
/* Footer */
	footer {
		position: relative;
		font-size: 1.45vw;
		font-weight: bold;
		font-family: frizquadrata;
		color:#504f4f;
		margin: 1% 1% 0 1%;
		overflow: hidden;
	}
	footer ul {
		padding: 0 0 2.5% 0;
		margin:0;
	}
	footer li {
		list-style: none;
		display: inline-block;
	}
	footer li#contato {
		float: right;
		font-weight: bold;
	}
	footer li#contato span {
		font-weight: bolder;
	}
	footer li#copyright {
		float: left;
	}
/* Footer (Mobile) */
	@media screen and (max-width: 800px) {
		footer {
			font-size: 4vw;
			text-align: center;
			margin: 3% 1% 0 1%;
		}
		footer li#contato {
			float: none;
		}
		footer li#copyright {
			float: none;
		}
	}