/* ========================================================================================================
   | 📑 Page Content [DESKTOP] | ========================================================================== 
   ========================================================================================================  */

/* |-------------------------------| 👋 Welcome 👋 |----------------------------------|💻|  */ 

    h1.small-title {
        font-size: 45rem;
    }

    #welcome-section article p {
        font-size: 40rem;
        font-weight: bold;
        text-shadow: 4rem 0 0 rgb(0, 0, 0), -4rem 0 0 rgb(0, 0, 0), 0 4rem 0 rgb(0, 0, 0), 0 -4rem 0 rgb(0, 0, 0), 2rem 2rem rgb(0, 0, 0), -2rem -2rem 0 rgb(0, 0, 0), 2rem -2rem 0 rgb(0, 0, 0), -2rem 2rem 0 rgb(0, 0, 0);
    }

    .blood-red-color {
        color: #B20000;
    }

    .ice-blue-color {
        color: #00BBBB;
    }

    .purple-color {
        color: #A400A4;
    }    

    #welcome-section footer {
        padding: 10rem 0;
    }

    #welcome-section footer p {
        width: 85%;
        margin: 0 auto;
        font-size: 32rem;
        text-shadow: 3.2rem 0 0 rgb(0, 0, 0), -3.2rem 0 0 rgb(0, 0, 0), 0 3.2rem 0 rgb(0, 0, 0), 0 -3.2rem 0 rgb(0, 0, 0), 1.6rem 1.6rem rgb(0, 0, 0), -1.6rem -1.6rem 0 rgb(0, 0, 0), 1.6rem -1.6rem 0 rgb(0, 0, 0), -1.6rem 1.6rem 0 rgb(0, 0, 0);        
    }
      
/* |----------------------------| 🕐 Latest Guides 🕐 |-------------------------------|💻|  */    

    section#latest-guides-section article {
        padding: 20rem 0 10rem 0;
    }

    #latest-guides-section button {
        position: absolute;
        top: 125rem;
        padding: 10rem 12rem 6rem 12rem;
        border-radius: 100%;
        z-index: 1;
        box-shadow: 0 0 10rem rgba(0, 0, 0, 0.6), 0 0 20rem rgba(0, 0, 0, 0.6), 0 0 40rem rgba(0, 0, 0, 0.6);
        filter: brightness(85%);    
        -webkit-filter: brightness(85%);
        background-color: #0A8C07;
    }

    #latest-guides-section button:hover {
        -webkit-filter: brightness(110%);
        filter: brightness(110%);
    }

    #latest-guides-section button svg {
        width: 85rem;
        height: 85rem;
    }

    #latest-guides-section button:nth-of-type(1) {
        left: -40rem;
    }

    #latest-guides-section button:nth-of-type(1) svg {
        filter: drop-shadow(5rem 0 5rem rgba(0, 0, 0, 0.7));
    }

    #latest-guides-section button:nth-of-type(2) {
        right: -40rem;
    }

    #latest-guides-section button:nth-of-type(2) svg {
        filter: drop-shadow(-5rem 0 5rem rgba(0, 0, 0, 0.7));
    }

    .latest-guides-button-click-animation {
        animation: latest-guides-button-click-animation 0.20s none;
    }

    @keyframes latest-guides-button-click-animation {
        0% { transform:scale(1); }
        50% { transform:scale(0.9); }
        100% { transform:scale(1); }
    }

    div#cards-display {
        overflow-x: hidden;
    }

    div#cards-wrapper {
        position: relative;
        right: 0;
        white-space: nowrap;
        transition: right 0.5s ease-in-out;
    }

    #cards-wrapper img {
        /* Card width minus Section Border width */
        width: calc(33% - 12rem);
        margin: 0 0.5%;
        filter: brightness(85%);
        -webkit-filter: brightness(85%);       
    }

    #cards-wrapper img:hover {
        filter: brightness(115%);
        -webkit-filter: brightness(115%);    
    }
 
/* |-----------------------------| ⚡ Quick Access ⚡ |-------------------------------|💻|  */    

    section#quick-access-section article {
        padding: 0;
    }

    div#description-display {
        padding: 20rem 0;
        text-align: center;
    }

    #description-display div {
        display: table;
        width: 62%;
        height: 54rem;
        margin: 0 auto;
        border: 3rem solid #3D3D3D; 
        background-color: #000000;
    }

    #description-display p {
        display: table-cell;
        font-size: 34rem;
        vertical-align: middle;
    }

    #description-display p.showing-option-description {
        color: #00DD00;
    }

    #options-display {
        padding: 20rem;
    }

    #options-display img {
        width: 250rem;
        height: 220rem;
        margin: 0 28rem;
        filter: brightness(120%);
        -webkit-filter: brightness(70%);    
        transition: transform 0.05s ease-in-out;
        box-shadow: 5rem 5rem 2rem rgba(0, 0, 0, 0.9);
    }

    #options-display img:hover {
        transform: scale(108%);
        -webkit-transform: scale(108%);
        filter: brightness(120%);
        -webkit-filter: brightness(120%);
    }

/* ========================================================================================================
   | 📑 Page Content [MOBILE] | =========================================================================== 
   ========================================================================================================  */

/* |-------------------------------| 👋 Welcome 👋 |----------------------------------|📱|  */

@media screen and (max-width: 800px) {
    h1.small-title {
        font-size: calc(16px + 38rem);
    }

    #welcome-section article p {
        font-size: calc(11px + 30rem);
        text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);        
    } 

    #welcome-section footer {
        padding: calc(5px + 4rem);   
    }

    #welcome-section footer p {
        width: 100%;
        margin: 0;
        font-size: calc(10px + 25rem);  
        text-shadow: 1.5px 0 0 rgb(0, 0, 0), -1.5px 0 0 rgb(0, 0, 0), 0 1.5px 0 rgb(0, 0, 0), 0 -1.5px 0 rgb(0, 0, 0), 0.7px 0.7px rgb(0, 0, 0), -0.7px -0.7px 0 rgb(0, 0, 0), 0.7px -0.7px 0 rgb(0, 0, 0), -0.7px 0.7px 0 rgb(0, 0, 0);                    
    }     

    #welcome-section footer p b {
        font-weight: inherit;
    }
}

/* |----------------------------| 🕐 Latest Guides 🕐 |-------------------------------|📱|  */   

@media screen and (max-width: 800px) {
    section#latest-guides-section article {
        padding: 60rem 0 25rem 0;
    }

    #latest-guides-section button {
        top: 30%;
        padding: 8px 9px 6px 9px;
    }

    #latest-guides-section button svg {
        width: calc(10px + 220rem);
        height: calc(10px + 220rem);
    }

    #latest-guides-section button:nth-of-type(1) {
        left: -30rem;
    }

    #latest-guides-section button:nth-of-type(1) svg {
        filter: drop-shadow(3px 0 3px rgba(0, 0, 0, 0.7));
    }

    #latest-guides-section button:nth-of-type(2) {
        right: -30rem;
    }

    #latest-guides-section button:nth-of-type(2) svg {
        filter: drop-shadow(-3px 0 3px rgba(0, 0, 0, 0.7));
    }     

    #cards-wrapper img {
        width: 90%;
        margin: 0 5%;     
    }  
}

/* |-----------------------------| ⚡ Quick Access ⚡ |-------------------------------|📱|  */  

@media screen and (max-width: 800px) {
    div#description-display {
        padding: 30rem;
    }

    #description-display div {
        width: 100%;
        height: calc(14px + 220rem);
        padding: 0 5px;
        border: calc(1px + 6rem) solid #3D3D3D; 
    }

    #description-display p {
        font-size: calc(10px + 50rem);
    }

    #description-display p.error-option-description {
        color: #FF0000;
    }    

    #options-display img {
        width: 500rem;
        height: 460rem;
        margin: 30rem;
        box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.9);
    }

    section#quick-access-section button {
        margin: 5px auto 15px auto;
        padding: 30rem 80rem;
        border: calc(4px + 2rem) solid #383838; 
        border-radius: 60rem;
        box-shadow: 0 0 15rem rgba(0, 0, 0, 0.8), 0 0 30rem rgba(0, 0, 0, 0.8), 0 0 60rem rgba(0, 0, 0, 0.8);        
        background: linear-gradient(#000000 0%, #000000 5%, #383838 50%, #000000 95%, #000000 100%);        
    }

    #quick-access-section button svg {
        width: 750rem;
        filter: drop-shadow(0 0 15rem rgba(0, 0, 0, 0.8)) drop-shadow(0 0 30rem rgba(0, 0, 0, 0.8)) drop-shadow(0 0 60rem rgba(0, 0, 0, 0.8)); 
    }

	.quick-access-mobile-button-click-animation {
        animation: quick-access-mobile-button-click-animation 0.20s none;
	}	    

	@keyframes quick-access-mobile-button-click-animation {
		0% { transform:scale(1); filter:brightness(100%); }
		50% { transform:scale(0.9); filter:brightness(145%); }
		100% { transform:scale(1); filter:brightness(100%); }
	}      
}