@charset "UTF-8";
/* Corpo de Todo o Site */	
	body {
		position: relative;
       	overflow-x: hidden;
		margin: 0vw;
		cursor: url('../_recursos/cursor.cur'), auto;
		padding: 0vw;
		width: 98.78vw;
		max-width: 100%;
		display: block;
		min-height: 100vh;
	}	
/* Corpo da Pagina */
	div#corpo {
		background-image: url('../_imagens/fundo.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: 98.78vw 100%;
		position: relative;
		top: 0;
		width: 99vw;
		max-width: 100%;
		overflow: hidden;
		color: #ffffff;
	}	
	div#fundobranco {
		position: relative;
		background-color: rgba(255, 255, 255, 0.75);
		width: 97.8%;
		height: 99.53%;
		top: 3.8vw;
		margin: 0vw 0.9vw 5vw 0.9vw;
		max-width: 100%;
	}
	div#conteudo {
		width: 100%;
		height: 100%;
		font-size: 2vw;
		font-family: frizquadrata;
		top: 0vw;
		max-width: 100%;
	}
/* Corpo da Pagina - Mobile */
	@media screen and (max-width: 800px) {
		div#corpo {
			background-image: url('../_imagens/fundo_mobile.jpg');
			background-color:#000000;
			margin-top: -5.4vw;
			height: 100%;
			background-size: 120% 100%;
			overflow: hidden;
		}
		div#fundobranco {
			top: 4.5vw;
			width: 97.6vw !important;
			margin: 0vw 0vw 7vw 1.6vw !important;
			height: 99.65%;
		}
	}
/* Conteudo da Pagina */
/* Zoom Mapa (Mobile) */
#mapa-zoom {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: +4;
	height: 100vh;
	width: 100%;
	opacity: 0;
	transition: opacity 0.4s;
	pointer-events: none;
}
.travamento-scroll {
	overflow: hidden;
}
#mapa-zoom img#mapa-mobile {
	max-width: 100%;
	height: 100%;
}
img#mapa-botao-fechar {
	position: fixed;
	z-index: +4;
	height: 11vh;
	width: 10vh;
	transition: top 0.25s ease-out;
	top: -11.5vh;
	right: 45%;
}
img#mapa-botao-fechar2 {
	display: none;
}
@media only screen and (orientation:landscape) {
	img#mapa-botao-fechar2, #mapa-zoom img#mapa-mobile {
		transform: rotate(90deg) scaleX(0.765);
	}
	#mapa-zoom img#mapa-mobile {
		height: 100vw;
		width: 130vh;
		max-width: none;
		max-height: none;	
	}
	img#mapa-botao-fechar2 {
		position: fixed;
		display: block;
		z-index: +4;
		height: 10vw;
		width: 11vw;
		top: 0;
		right: -24vh;
		margin-top: 35vh;
		transition: right 0.25s ease-out;
	}
	img#mapa-botao-fechar {
		display: none;
	}
}
/* Introducao + Mapa */
.banner-principal img {
	width: 98%;
	height: 100px;
	margin: 1% 1% 0% 1%;
	box-shadow: 3.5px 3.5px 3px rgba(0, 0, 0, 0.7);
}
h1.introducao {
	position: relative;
	margin-top: -80px;
	text-align: center;
	font-family: batukapur;
	font-weight: normal;
	font-size: 48px;
	color: #00D900;
	text-shadow: 3px 0 0 rgb(0, 0, 0), -3px 0 0 rgb(0, 0, 0), 0 3px 0 rgb(0, 0, 0), 0 -3px 0 rgb(0, 0, 0), 1.5px 1.5px rgb(0, 0, 0), -1.5px -1.5px 0 rgb(0, 0, 0), 1.5px -1.5px 0 rgb(0, 0, 0), -1.5px 1.5px 0 rgb(0, 0, 0);
	letter-spacing: 1px;
}
div.principal {
	background-image: url("../_imagens/fundo_infinito.jpg");
	background-repeat: repeat;
	margin: -15px 1% 0% 1%;
	border: 8px solid #000000;
	box-shadow: 3.5px 3.5px 3px rgba(0, 0, 0, 0.7);
	display: flex;
	flex-direction: column;
	align-items: center;
}
div.principal div.texto {
	min-width: 100%;
	border-bottom: solid #000000 7px;
}
div.principal div.texto p {
	font-size: 28px;
	text-align: center;
	text-shadow: 2.5px 0 0 rgb(0, 0, 0), -2.5px 0 0 rgb(0, 0, 0), 0 2.5px 0 rgb(0, 0, 0), 0 -2.5px 0 rgb(0, 0, 0), 1.2px 1.2px rgb(0, 0, 0), -1.2px -1.2px 0 rgb(0, 0, 0), 1.2px -1.2px 0 rgb(0, 0, 0), -1.2px 1.2px 0 rgb(0, 0, 0);
	font-weight: bold;
	margin: 1.5% 2% 1.5% 2%;
}
div.principal img.mapa-imagem {
	border: solid #000000 6px;
	width: 85vw;
	max-width: 1085px;
	margin: 2% 0 2% 0;
	box-shadow: 3px 3px 2.5px rgba(0, 0, 0, 0.7);
}
div.principal h5.info-mobile {
	display: none;
}
div.mapa-infos {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
}
div.mapa-infos div.info-item {
	display: flex;
	padding: 15px 5px 20px 5px;
	background-image: url("../_imagens/placa_retangular.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	color: #FFFFB0;
	font-size: 35px;
	text-shadow: 2.4px 0 0 rgb(0, 0, 0), -2.4px 0 0 rgb(0, 0, 0), 0 2.4px 0 rgb(0, 0, 0), 0 -2.4px 0 rgb(0, 0, 0), 1.2px 1.2px rgb(0, 0, 0), -1.2px -1.2px 0 rgb(0, 0, 0), 1.2px -1.2px 0 rgb(0, 0, 0), -1.2px 1.2px 0 rgb(0, 0, 0);
	margin: 0 8px 15px 8px;
	filter: brightness(85%);
	height: 90px;
}
div.mapa-infos div.info-item:hover {
	filter: brightness(110%);
	transform: scale(1.03);
}
div.mapa-infos div.info-item img.marcacao-placa {
	width: 16px;
	height: 89px;
	margin: 3px 11px 2.7px 0;
	pointer-events: none;
}
div.info-item div {
	display: flex;
	align-items: center;
}
div.mapa-infos div img {
	width: 70px;
	height: 70px;
	margin: 0px 11px 0px 11px;
	pointer-events: none;
	-o-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
div.mapa-infos div p {
	margin: 2px 25px 2px 0px;
	pointer-events: none;
	-o-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none; 
}
div.mapa-infos div p.zonas-criancas {
	margin: 2px 20px 2px 0px;
}
/* Fix Posicionamento Infos */
@media screen and (max-width: 1187px) and (min-width: 1104px) {
	div.mapa-infos div.info-item {
		margin: 0 25px 15px 25px;
	}
}
/* Introducao + Mapa (Mobile) */
@media screen and (max-width: 800px) {
	div.principal div.texto p {
		font-size: 20px;
		text-shadow: 1.9px 0 0 rgb(0, 0, 0), -1.9px 0 0 rgb(0, 0, 0), 0 1.9px 0 rgb(0, 0, 0), 0 -1.9px 0 rgb(0, 0, 0), 0.9px 0.9px rgb(0, 0, 0), -0.9px -0.9px 0 rgb(0, 0, 0), 0.9px -0.9px 0 rgb(0, 0, 0), -0.9px 0.9px 0 rgb(0, 0, 0);
	}
	div.principal img.mapa-imagem {
		width: 86vw;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
		margin: 2% 0 1% 0;
	}
	div.principal h5.info-mobile {
		display: block;
		font-size: 16px;
		text-shadow: 1.9px 0 0 rgb(0, 0, 0), -1.9px 0 0 rgb(0, 0, 0), 0 1.9px 0 rgb(0, 0, 0), 0 -1.9px 0 rgb(0, 0, 0), 0.9px 0.9px rgb(0, 0, 0), -0.9px -0.9px 0 rgb(0, 0, 0), 0.9px -0.9px 0 rgb(0, 0, 0), -0.9px 0.9px 0 rgb(0, 0, 0);
		color: #BFEDEF;
		text-align: center;
		margin: 0 7px 10px 7px;
	}
	div.mapa-infos div.info-item {
		padding: 2.7vw 0 3.5vw 0;
		font-size: 4.5vw;
		text-shadow: 0.3vw 0 0 rgb(0, 0, 0), -0.3vw 0 0 rgb(0, 0, 0), 0 0.3vw 0 rgb(0, 0, 0), 0 -0.3vw 0 rgb(0, 0, 0), 0.15vw 0.15vw rgb(0, 0, 0), -0.15vw -0.15vw 0 rgb(0, 0, 0), 0.15vw -0.15vw 0 rgb(0, 0, 0), -0.15vw 0.15vw 0 rgb(0, 0, 0);
		margin: 0 1vw 1vw 1vw;
		height: 11vw;
		width: 43vw;
	}
	div.mapa-infos div.info-item img.marcacao-placa {
		width: 1.8vw;
		height: 12.4vw;
		margin: -0.41vw 2vw 0vw 0;
	}
	div.info-item div {
		flex-direction: column;
		justify-content: center;
	}
	div.mapa-infos div img {
		width: 8vw;
		height: 8vw;
		margin: 0px 0.4vw 0 1vw;
	}
	div.mapa-infos div p {
		margin: 0;
	}
	div.mapa-infos div p.zonas-criancas {
		margin: 0.6vw 0 0 0;
		font-size: 4.1vw;
	}
}
/* Informações Marcador -  Base */
.marcador-titulo-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 98%;
	margin: -8px 1% 0% 1%;
	padding: 20px 0 35px 0;
	box-shadow: 3.5px 3.5px 3px rgba(0, 0, 0, 0.7);
	background-image: url("../_imagens/bem_vindo.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
h1.marcador-titulo {
	position: relative;
	margin: 0 4vw 0 4vw;
	text-align: center;
	font-family: frizquadrata;
	font-weight: bold;
	font-size: 35px;
	color: #00D900;
	text-shadow: 3px 0 0 rgb(0, 0, 0), -3px 0 0 rgb(0, 0, 0), 0 3px 0 rgb(0, 0, 0), 0 -3px 0 rgb(0, 0, 0), 1.5px 1.5px rgb(0, 0, 0), -1.5px -1.5px 0 rgb(0, 0, 0), 1.5px -1.5px 0 rgb(0, 0, 0), -1.5px 1.5px 0 rgb(0, 0, 0);
}
h1.marcador-titulo img {
	position: relative;
	top: 12px;
	width: 33px;
	height: 50px;
	margin: 0 5px 0 0;
	padding: 0;
}
div.info-marcador {
	margin: -5px 1% 0 1%;
	border: solid #000000 8px;
	box-shadow: 3.5px 3.5px 3px rgba(0, 0, 0, 0.7);
	background-image: url("../_imagens/fundo_infinito.jpg");
	background-repeat: repeat;
}
/* Informações Raizes Sangrentas*/
div.info-marcador div.raizes-sangrentas {
	display: flex;
	align-items: center;
	flex-direction: column;
}
div.info-marcador picture img {

}
/* Footer */
	footer {
		position: relative;
		font-size: 1.45vw;
		font-weight: bold;
		font-family: frizquadrata;
		color:#504f4f;
		margin: 1% 1% 0 1%;
		overflow: hidden;
	}
	footer ul {
		padding: 0 0 2.5% 0;
		margin:0;
	}
	footer li {
		list-style: none;
		display: inline-block;
	}
	footer li#contato {
		float: right;
		font-weight: bold;
	}
	footer li#contato span {
		font-weight: bolder;
	}
	footer li#copyright {
		float: left;
	}
/* Footer (Mobile) */
	@media screen and (max-width: 800px) {
		footer {
			font-size: 4vw;
			text-align: center;
			margin: 3% 1% 0 1%;
		}
		footer li#contato {
			float: none;
		}
		footer li#copyright {
			float: none;
		}
	}