/* ========================================================================================================
   | 📑 Page Content [DESKTOP] | ==========================================================================
   ========================================================================================================  */

/* |-----------------------------| 🗺️ Useful Map 🗺️ |---------------------------------|💻|  */
    div#map-wrapper figure img {
        width: 1130rem;
        max-width: 100%;
    }

    #map-wrapper figcaption {
        display: none;
    }

    div#markers-summary-options-wrapper {
        max-width: 1220rem;
        margin: 0 auto;
        padding: 20rem 0 5rem 0;
    }

    #markers-summary-options-wrapper button {
        position: relative;
        width: 385rem;
        height: 132rem;
        margin: 0 8rem 15rem 8rem;
        padding: 19rem 25rem 19rem 123rem;
        background-image: url('../_imagens/placa_retangular.png');
        color: #FFFFB0;
        font-family: frizquadrata;
        font-size: 36rem;
        line-height: 47rem;
        text-align: left;
        text-shadow: 2.4rem 0 0 rgb(0, 0, 0), -2.4rem 0 0 rgb(0, 0, 0), 0 2.4rem 0 rgb(0, 0, 0), 0 -2.4rem 0 rgb(0, 0, 0), 1.2rem 1.2rem rgb(0, 0, 0), -1.2rem -1.2rem 0 rgb(0, 0, 0), 1.2rem -1.2rem 0 rgb(0, 0, 0), -1.2rem 1.2rem 0 rgb(0, 0, 0);
        filter: brightness(85%) drop-shadow(6rem 6rem 2.5rem rgba(0, 0, 0, 0.7));
        -webkit-filter: brightness(85%) drop-shadow(6rem 6rem 2.5rem rgba(0, 0, 0, 0.7));
    }

    #markers-summary-options-wrapper button:hover {
        filter: brightness(110%);
        -webkit-filter: brightness(110%);
        transform: scale(1.03);
        -webkit-transform: scale(1.03);
    }

    #markers-summary-options-wrapper button::before {
        content: '';
        position: absolute;
        top: 17.8rem;
        left: 95rem;
        width: 17rem;
        height: 95.4rem;
        background-image: url('../_imagens/placa_marcacao.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    #markers-summary-options-wrapper button img {
        position: absolute;
        top: 29rem;
        left: 11rem;
        width: 73rem;
        height: 73rem;
    }

    .marker-option-click-animation {
        animation: marker-option-click-animation 0.20s none;
    }

    @keyframes marker-option-click-animation {
        0% { transform:scale(1); }
        50% { transform:scale(0.95); }
        100% { transform:scale(1); }
    }

/* |--------------------------| 📌 Selected Marker 📌 |-------------------------------|💻|  */

    html {
        scroll-behavior: smooth;
    }

    section#selected-marker-summary-section header {
        padding-right: 80rem;
        padding-left: 80rem;
        padding-top: 15rem;
    }

    section#selected-marker-summary-section header h2 {
        display: inline;
        font-family: frizquadrata;
        font-weight: bold;
        font-size: calc(8px + 28rem);
        color: #00D900;
        text-shadow: 3rem 0 0 rgb(0, 0, 0), -3rem 0 0 rgb(0, 0, 0), 0 3rem 0 rgb(0, 0, 0), 0 -3rem 0 rgb(0, 0, 0), 1.5rem 1.5rem rgb(0, 0, 0), -1.5rem -1.5rem 0 rgb(0, 0, 0), 1.5rem -1.5rem 0 rgb(0, 0, 0), -1.5rem 1.5rem 0 rgb(0, 0, 0);
    }

    #selected-marker-summary-section header svg {
        display: inline-block;
        width: 34rem;
        height: 52rem;
        margin-right: 5rem;
        vertical-align: -12rem;
    }

    #selected-marker-summary-section header.marker-selected svg {
        display: none;
    }    

    #selected-marker-summary-section header.marker-selected h2 {
        font-size: 42rem;
        letter-spacing: 1rem;
    }

    section#selected-marker-summary-section article {
        display: none;
        opacity: 0;
        transition: opacity 1s ease-out;
    }

    #selected-marker-summary-section article.selected-marker-summary {
        display: block;
        opacity: 1;        
    }

    #selected-marker-summary-section article picture img {
        width: 1130rem;
        max-width: 100%;
    }

    #selected-marker-summary-section .font-bug-fix {
        color: #FFFFFF;
        font-family: Arial;
    }

    .cyan-color {
        color: #BFEDEF;
    }

/* |----------------------------| 🌱 Bloody Roots 🌱 |--------------------------------|💻|  */

    div#feeding-roots-wrapper {
        white-space: nowrap;
    }

    #feeding-roots-wrapper ol {
        display: inline-block;
        width: 36%;
        vertical-align: middle;
        counter-reset: feeding-step;
        list-style: none;
        white-space: normal;
    }

    #feeding-roots-wrapper li {
        margin: 5% 7%;
        text-align: left;
    }

    #feeding-roots-wrapper li::before {
        content: counter(feeding-step) '.';
        counter-increment: feeding-step;
        margin-right: 12rem;
        font-weight: bold;
        border-bottom: 2rem solid #FFFFFF;
    }

    #feeding-roots-wrapper div.video-wrapper {
        display: inline-block;
        width: 55%;
        vertical-align: middle;
    }

/* |--------------------------| 🗝️ Secret Stashes 🗝️ |--------------------------------|💻|  */
    div#secret-stashes-locations-wrapper picture {
        display: inline;  
    }

    div#secret-stashes-locations-wrapper picture img {      
        width: 40%;
        margin: 10rem;
    }

/* ========================================================================================================
   | 📑 Page Content [MOBILE] | ===========================================================================
   ========================================================================================================  */

/* |-----------------------------| 🗺️ Useful Map 🗺️ |---------------------------------|📱|  */

@media screen and (max-width: 800px) {
    div#map-wrapper figure img {
        width: 1700rem;
    }

    #map-wrapper figcaption {
        display: block;
    }

    div#markers-summary-options-wrapper {
        max-width: none;
        padding: 0 0 5px 0;
    }

    #markers-summary-options-wrapper button {
        width: 47.6%;
        height: 324rem;
        margin: 0 1% 40rem 1%;
        padding: 47rem 0 47rem 250rem;
        font-size: calc(3px + 82rem);
        line-height: 115rem;
        text-shadow: 1.9px 0 0 rgb(0, 0, 0), -1.9px 0 0 rgb(0, 0, 0), 0 1.9px 0 rgb(0, 0, 0), 0 -1.9px 0 rgb(0, 0, 0), 0.95px 0.95px rgb(0, 0, 0), -0.95px -0.95px 0 rgb(0, 0, 0), 0.95px -0.95px 0 rgb(0, 0, 0), -0.95px 0.95px 0 rgb(0, 0, 0);
        filter: brightness(85%) drop-shadow(3.5px 3.5px 2px rgba(0, 0, 0, 0.7));
        -webkit-filter: brightness(85%) drop-shadow(3.5px 3.5px 2px rgba(0, 0, 0, 0.7));
    }

    /* Targets the 'Zonas Com Crianças' option, the only label too long for the shared font size */
    html[lang='pt-br'] #markers-summary-options-wrapper #children-zone-button {
        font-size: calc(2.5px + 69rem);
    }

    #markers-summary-options-wrapper button::before {
        top: 43.7rem;
        left: 196rem;
        width: 36rem;
        height: 234rem;
    }

    #markers-summary-options-wrapper button img {
        top: 82rem;
        left: 26rem;
        width: 160rem;
        height: 160rem;
    }
}

/* |--------------------------| 📌 Selected Marker 📌 |-------------------------------|📱|  */

@media screen and (max-width: 800px) {
    section#selected-marker-summary-section header {
        padding: calc(15px + 20rem) calc(5px + 120rem);
    }

    section#selected-marker-summary-section header h2 {
        font-size: calc(14px + 45rem);
        text-shadow: 2.3px 0 0 rgb(0, 0, 0), -2.3px 0 0 rgb(0, 0, 0), 0 2.3px 0 rgb(0, 0, 0), 0 -2.3px 0 rgb(0, 0, 0), 1.15px 1.15px rgb(0, 0, 0), -1.15px -1.15px 0 rgb(0, 0, 0), 1.15px -1.15px 0 rgb(0, 0, 0), -1.15px 1.15px 0 rgb(0, 0, 0);
    }

    #selected-marker-summary-section header svg {
        width: 26px;
        height: 39px;
        vertical-align: -9px;
    }

    #selected-marker-summary-section header.marker-selected h2 {
        font-size: calc(19px + 49rem);
    }

    #selected-marker-summary-section article picture img {
        width: 1700rem;
    }
}

/* |----------------------------| 🌱 Bloody Roots 🌱 |--------------------------------|📱|  */

@media screen and (max-width: 800px) {
    div#feeding-roots-wrapper {
        white-space: normal;
    }

    #feeding-roots-wrapper ol {
        display: block;
        width: 100%;
    }

    #feeding-roots-wrapper li {
        margin: 2% 7% 3% 7%;
        text-align: justify;
    }

    #feeding-roots-wrapper li::before {
        margin-right: 10px;
        border-bottom-width: 1px;
    }

    /* minus the wrapper margins */
    #feeding-roots-wrapper div.video-wrapper {
        width: calc(100% - 30px); 
    }
}

/* |--------------------------| 🗝️ Secret Stashes 🗝️ |--------------------------------|📱|  */

@media screen and (max-width: 800px) {
    div#secret-stashes-locations-wrapper picture {
        display: block;  
    }

    div#secret-stashes-locations-wrapper picture img {
        width: 1600rem;
        max-width: 500px;
        margin: 2% 0;
    }
}

/* |---------------------------| 🔍 Fullscreen Map 🔍 |-------------------------------|📱|  */

@media screen and (max-width: 800px) {
    .scroll-lock {
        overflow: hidden;
    }

    div#map-fullscreen-wrapper-mobile {
        position: fixed;
        display: table;
        top: 0;
        left: 0;
        z-index: 4;
        width: 100%;
        height: 100dvh;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.4s;
        background-color: #000000;
    }

    #map-fullscreen-wrapper-mobile.showing-fullscreen-map {
        opacity: 1;
        pointer-events: auto;
    }

    #map-fullscreen-wrapper-mobile picture {
        display: table-cell;    
        vertical-align: middle;   
        text-align: center;       
    }

    #map-fullscreen-wrapper-mobile button {
        position: fixed;
        padding: 0;
        width: calc(64px + 40rem);
        height: calc(70px + 44rem);        
        border: solid 4px #FF0000;   
        box-shadow: 0 0 15rem rgba(0, 0, 0, 0.8), 0 0 30rem rgba(0, 0, 0, 0.8), 0 0 60rem rgba(0, 0, 0, 0.8);
        background-color: #000000;
    }    

    #map-fullscreen-wrapper-mobile img {
        max-height: 100dvh;
        max-width: 100%;     
    }

    #map-fullscreen-wrapper-mobile button svg {
        width: 100%;
        height: 100%;
        stroke: #FF0000;
    }
}

@media screen and (max-width: 800px) and (orientation: portrait) {
    #map-fullscreen-wrapper-mobile button {
        top: calc(-70px + -44rem);
        right: calc(50% - (32px - 20rem));
        border-radius: 0 0 30px 30px;
        transition: top 0.25s ease-out;
    }

    #map-fullscreen-wrapper-mobile.showing-fullscreen-map button {
        top: -4px;
    }
}

/* |--------------------| 🔍 Fullscreen Map - Landscape 🔍 |--------------------------|📱|  */

@media screen and (max-width: 800px) and (orientation: landscape) {
    #map-fullscreen-wrapper-mobile button {
        width: calc(52px + 40rem);
        height: calc(58px + 44rem);          
        top: calc(50dvh - (29px + 22rem));
        right: calc(-64px + -40rem);
        border-radius: 32px 0 0 32px;     
        transition: right 0.25s ease-out;
    }   

    #map-fullscreen-wrapper-mobile.showing-fullscreen-map button {
        right: -4px;
    }

    /* Landscape Browser Bug Fix */

    #map-fullscreen-wrapper-mobile.landscape-height-bug-fix {
        max-height: var(--landscape-map-bug-fix-height);
    }

    #map-fullscreen-wrapper-mobile.landscape-height-bug-fix img {
        max-height: var(--landscape-map-bug-fix-height);    
    }    

    #map-fullscreen-wrapper-mobile.landscape-height-bug-fix button {
        top: calc(var(--landscape-map-bug-fix-height) * 0.5 - (29px + 22rem));
    }
}
