@charset "UTF-8";
/* Corpo de Todo o Site */	
	body {
		position: relative;
       	overflow-x: hidden;
		margin: 0vw;
		cursor: url('../_recursos/cursor.cur'), auto;
		padding: 0vw;
		width: 98.78vw;
		max-width: 100%;
		display: block;
		min-height: 100vh;
	}	
/* Corpo da Pagina */
	div#corpo {
		background-image: url('../_imagens/fundo.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: 98.78vw 100%;
		position: relative;
		top: 0;
		width: 99vw;
		max-width: 100%;
		overflow: hidden;
		color: #ffffff;	
	}	
	div#fundobranco {
		position: relative;
		background-color: rgba(255, 255, 255, 0.75);
		width: 97.8%;
		height: 99.53%;
		top: 3.8vw;
		margin: 0vw 0.9vw 5vw 0.9vw;
		max-width: 100%;
	}
	div#conteudo {
		width: 100%;
		height: 100%;
		font-size: 2vw;
		font-family: frizquadrata;
		top: 0vw;
		max-width: 100%;
	}
/* Corpo da Pagina - Mobile */
	@media screen and (max-width: 800px) {
		div#corpo {
			background-image: url('../_imagens/fundo_mobile.jpg');
			background-color:#000000;
			margin-top: -5.4vw;
			height: 100%;
			background-size: 120% 100%;
			overflow: hidden;
		}
		div#fundobranco {
			top: 4.5vw;
			width: 97.6vw !important;
			margin: 0vw 0vw 7vw 1.6vw !important;
			height: 99.65%;
		}
	}
/* Padrões */
.mobile {
	display: none;
}
a {
	color: #00D900;
}
span.amarelo {
	color: #FFFF00;
}
span.sublinhado {
	border-bottom: solid #FFFFFF 2px;
}
p.atencao-padrao {
	margin: 10px 20px 19px 20px;
	max-width: 1200px;
	min-width: 200px;
	text-align: justify;
	font-size: 24px;
	text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
}
body div.dica-padrao {
	width: 100%;
	border-top: 7px solid #000000;
	border-bottom: 7px solid #000000;
}
body div.dica-padrao p {
	margin: 1% 2% 1% 2%;
	color: #BFEDEF;
	max-width: 1300px;
	min-width: 200px;
	font-weight: normal;
	text-align: justify;
	font-size: 24px;
	text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
	text-indent: 0px;
}
body div.dica-padrao p span.dica {
	font-weight: bold;
	color: #96E2E5;
	border-bottom: solid #96E2E5 2px;
}
body div.antibioticos div.borda-top {
	border-top: 7px solid #000000;
	border-bottom: none;
}
div.sub-titulo p.info-secao-inferior {
	font-size: 28px;
	font-weight: bold;
	margin: 1% 5% 1% 5%;
	letter-spacing: 0.05vw;
	color: #7ACE48;
	text-align: center;
	text-shadow: 2.5px 0 0 rgb(0, 0, 0), -2.5px 0 0 rgb(0, 0, 0), 0 2.5px 0 rgb(0, 0, 0), 0 -2.5px 0 rgb(0, 0, 0), 1.2px 1.2px rgb(0, 0, 0), -1.2px -1.2px 0 rgb(0, 0, 0), 1.2px -1.2px 0 rgb(0, 0, 0), -1.2px 1.2px 	0 rgb(0, 0, 0);
	text-indent: 0;
}
div.sub-titulo {
	border-top: 7px solid #000000;
	border-bottom: 7px solid #000000;
	background-image: url(../_imagens/fundo_infinito_escuro.jpg);
	background-repeat: repeat;
	background-size: cover;
	min-width: 100%;
	width: 100%;
}
div.sub-titulo h2 {
	font-size: 38px;
	text-align: center;
	font-weight: normal;
	margin: 0.6% 2% 0.6% 2%;
	font-family: batukapur;
	color: #44BD2F;
	text-shadow: 2.5px 0 0 rgb(0, 0, 0), -2.5px 0 0 rgb(0, 0, 0), 0 2.5px 0 rgb(0, 0, 0), 0 -2.5px 0 rgb(0, 0, 0), 1.2px 1.2px rgb(0, 0, 0), -1.2px -1.2px 0 rgb(0, 0, 0), 1.2px -1.2px 0 rgb(0, 0, 0), -1.2px 1.2px 0 rgb(0, 0, 0);
	letter-spacing: 0.1vw;
}
div.sub-titulo-2 {
	border-bottom: 7px solid #000000;
	background-image: url(../_imagens/fundo_infinito_escuro.jpg);
	background-repeat: repeat;
	background-size: cover;
	min-width: 100%;
	width: 100%;
}
div.sub-titulo h3 , div.sub-titulo-2 h3 {
	font-size: 38px;
	text-align: center;
	font-weight: bolder;
	margin: 0.6% 2% 0.6% 2%;
	color: #44BD2F;
	text-shadow: 2.5px 0 0 rgb(0, 0, 0), -2.5px 0 0 rgb(0, 0, 0), 0 2.5px 0 rgb(0, 0, 0), 0 -2.5px 0 rgb(0, 0, 0), 1.2px 1.2px rgb(0, 0, 0), -1.2px -1.2px 0 rgb(0, 0, 0), 1.2px -1.2px 0 rgb(0, 0, 0), -1.2px 1.2px 0 rgb(0, 0, 0);
	letter-spacing: 0.2vw;
}
div.criacao-introducao {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
div.criacao-introducao p {
	font-size: 28px;
	text-shadow: 2.2px 0 0 rgb(0, 0, 0), -2.2px 0 0 rgb(0, 0, 0), 0 2.2px 0 rgb(0, 0, 0), 0 -2.2px 0 rgb(0, 0, 0), 1.1px 1.1px rgb(0, 0, 0), -1.1px -1.1px 0 rgb(0, 0, 0), 1.1px -1.1px 0 rgb(0, 0, 0), -1.1px 1.1px 0 rgb(0, 0, 0);
	text-align: center;
	margin: 1% 2% 1.5% 2%;
	text-indent: 70px; 
}
div.criacao-introducao {
	display: flex;
	align-items: center;
}
div.receitas-criacao table {
	font-size: 30px;
	text-shadow: 2.3px 0 0 rgb(0, 0, 0), -2.3px 0 0 rgb(0, 0, 0), 0 2.3px 0 rgb(0, 0, 0), 0 -2.3px 0 rgb(0, 0, 0), 1.1px 1.1px rgb(0, 0, 0), -1.1px -1.1px 0 rgb(0, 0, 0), 1.1px -1.1px 0 rgb(0, 0, 0), -1.1px 1.1px 0 rgb(0, 0, 0);
	text-align: justify;
	border-collapse: collapse;
	margin: 0.5% 1% 1% 1%;
	box-shadow: 2.2px 2.2px 1px rgba(0, 0, 0, 0.9);
	background-image: url("../_imagens/fundo_tabela.jpg");
	background-repeat: repeat;
}
div.receitas-criacao table.tabela-combinacao {
	margin: 0.5% 1% 0% 1%;
}
div.receitas-criacao table th.numero {
	font-size: 50px;
	text-shadow: 2.3px 0 0 rgb(0, 0, 0), -2.3px 0 0 rgb(0, 0, 0), 0 2.3px 0 rgb(0, 0, 0), 0 -2.3px 0 rgb(0, 0, 0), 1.1px 1.1px rgb(0, 0, 0), -1.1px -1.1px 0 rgb(0, 0, 0), 1.1px -1.1px 0 rgb(0, 0, 0), -1.1px 1.1px 0 rgb(0, 0, 0);
}
div.receitas-criacao table th.sinal {
	font-size: 60px;
	font-family: Arial;
}
div.receitas-criacao table th {
	border:#000000 solid 6px;
	padding: 0.5vw 2vw 0.5vw 2vw;
	font-weight: normal;	                                                                    
}
div.receitas-criacao table th img {
	width: 80px;	
	display: block;  
	border:#000000 solid 5px;                                                              
}
div.receitas-criacao {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
div.receitas-criacao h2 {
	font-size: calc(15px + 1.1vw);
	font-weight: bold;
	margin: 1% 5% 1% 5%;
	letter-spacing: 0.05vw;
	color: #FFFFFF;
	text-align: center;
	text-shadow: 2.3px 0 0 rgb(0, 0, 0), -2.3px 0 0 rgb(0, 0, 0), 0 2.3px 0 rgb(0, 0, 0), 0 -2.3px 0 rgb(0, 0, 0), 1.1px 1.1px rgb(0, 0, 0), -1.1px -1.1px 0 rgb(0, 0, 0), 1.1px -1.1px 0 rgb(0, 0, 0), -1.1px 1.1px 	0 rgb(0, 0, 0);
}
div.receitas-criacao p {
	font-size: 25px;
	text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 	0 rgb(0, 0, 0);
	margin: 0.5% 1% 1% 1%;
	color: #BFEDEF;
}
div.info-ingredientes {
	width: 100%;
	border-top: solid #000000 7px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
div.info-ingredientes div {
	display: block;
	border: 6px #000000 solid;
	margin: 0.8%;
	background-image: url("../_imagens/fundo_info2.jpg");
	background-size: 100% 100%;
}
@media screen and (max-width: 1000px) and (min-width: 801px) {
	div.info-ingredientes-spc div {
		margin: 0.8% 3% 0.8% 3%;
	}
}
div.info-ingredientes div img {
	float: left;
	display: block;
	border-right: 7px #000000 solid;
	width: 80px;	
}
div.info-ingredientes div h2 {
	font-size: 28px;
	text-shadow: 2.3px 0 0 rgb(0, 0, 0), -2.3px 0 0 rgb(0, 0, 0), 0 2.3px 0 rgb(0, 0, 0), 0 -2.3px 0 rgb(0, 0, 0), 1.1px 1.1px rgb(0, 0, 0), -1.1px -1.1px 0 rgb(0, 0, 0), 1.1px -1.1px 0 rgb(0, 0, 0), -1.1px 1.1px 0 rgb(0, 0, 0);
	font-weight: normal;
	min-width: 250px;
	margin: 3px;
}
div.info-ingredientes div h2.ingrediente-centralizado {
	margin: 20px 3px 3px 3px;
}
div#pre-carregamento {
	display: none;
}
/* Padrões (Mobile) */
@media screen and (max-width: 800px) {
	.mobile {
		display: block;
	}
	p.atencao-padrao {
		font-size: 18px;
		margin: 5px 20px 11px 20px;
		text-shadow: 1.8px 0 0 rgb(0, 0, 0), -1.8px 0 0 rgb(0, 0, 0), 0 1.8px 0 rgb(0, 0, 0), 0 -1.8px 0 rgb(0, 0, 0), 0.8px 0.8px rgb(0, 0, 0), -0.8px -0.8px 0 rgb(0, 0, 0), 0.8px -0.8px 0 rgb(0, 0, 0), -0.8px 0.8px 0 rgb(0, 0, 0);
	}
	body div.dica-padrao p {
		margin: 1.3% 5% 1.3% 5%;
		text-align: justify;
		font-size: 18px;
		text-shadow: 1.8px 0 0 rgb(0, 0, 0), -1.8px 0 0 rgb(0, 0, 0), 0 1.8px 0 rgb(0, 0, 0), 0 -1.8px 0 rgb(0, 0, 0), 0.8px 0.8px rgb(0, 0, 0), -0.8px -0.8px 0 rgb(0, 0, 0), 0.8px -0.8px 0 rgb(0, 0, 0), -0.8px 0.8px 0 rgb(0, 0, 0);
	}	
	span.sublinhado {
		border-bottom: solid #FFFFFF 1px;
	}
	div.sub-titulo p.info-secao-inferior {
		font-size: 26px;
		text-shadow: 2.2px 0 0 rgb(0, 0, 0), -2.2px 0 0 rgb(0, 0, 0), 0 2.2px 0 rgb(0, 0, 0), 0 -2.2px 0 rgb(0, 0, 0), 1.1px 1.1px rgb(0, 0, 0), -1.1px -1.1px 0 rgb(0, 0, 0), 1.1px -1.1px 0 rgb(0, 0, 0), -1.1px 1.1px 	0 rgb(0, 0, 0);
	}
	div.sub-titulo h2 {
		font-size: calc(20px + 2vw);
		margin: 0.6% 2% 0.6% 2%;
	}
	div.sub-titulo h3 , div.sub-titulo-2 h3 {
		font-size: 30px;
		font-weight: bolder;
		margin: 0.6% 2% 1.5% 2%;
		text-shadow: 2.3px 0 0 rgb(0, 0, 0), -2.3px 0 0 rgb(0, 0, 0), 0 2.3px 0 rgb(0, 0, 0), 0 -2.3px 0 rgb(0, 0, 0), 1.1px 1.1px rgb(0, 0, 0), -1.1px -1.1px 0 rgb(0, 0, 0), 1.1px -1.1px 0 rgb(0, 0, 0), -1.1px 1.1px 0 rgb(0, 0, 0);
	}
	body div.uma-linha h2 {
		margin: 1.2% 2% 1.2% 2%;
	}
	div.criacao-introducao p {
		font-size: 24px;
		text-shadow: 1.9px 0 0 rgb(0, 0, 0), -1.9px 0 0 rgb(0, 0, 0), 0 1.9px 0 rgb(0, 0, 0), 0 -1.9px 0 rgb(0, 0, 0), 0.9px 0.9px rgb(0, 0, 0), -0.9px -0.9px 0 rgb(0, 0, 0), 0.9px -0.9px 0 rgb(0, 0, 0), -0.9px 0.9px 0 rgb(0, 0, 0);
		text-align: justify;
		margin: 1% 2% 1.5% 2%;
		text-indent: 70px; 
		max-width: 85vw;
	}
	div.receitas-criacao h2 {
		font-size: 24px;
		margin: 1% 5% 1% 5%;
		text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
	}
	div.receitas-criacao table {
		font-size: 22px;
		text-shadow: 2.2px 0 0 rgb(0, 0, 0), -2.2px 0 0 rgb(0, 0, 0), 0 2.2px 0 rgb(0, 0, 0), 0 -2.2px 0 rgb(0, 0, 0), 1.1px 1.1px rgb(0, 0, 0), -1.1px -1.1px 0 rgb(0, 0, 0), 1.1px -1.1px 0 rgb(0, 0, 0), -1.1px 1.1px 	0 rgb(0, 0, 0);
		text-align: center;
		margin: 1% 0% 2% 0%;
		box-shadow: 2px 2px 1.8px rgba(0, 0, 0, 0.7);
		max-width: 87vw;
	}
	div.receitas-criacao table th.numero {
		font-size: 38px;
		text-shadow: 2.3px 0 0 rgb(0, 0, 0), -2.3px 0 0 rgb(0, 0, 0), 0 2.3px 0 rgb(0, 0, 0), 0 -2.3px 0 rgb(0, 0, 0), 1.2px 1.2px rgb(0, 0, 0), -1.2px -1.2px 0 rgb(0, 0, 0), 1.2px -1.2px 0 rgb(0, 0, 0), -1.2px 1.2px 	0 rgb(0, 0, 0);
	}
	div.receitas-criacao table th {
		padding: 1vw 1vw 1vw 1vw;	
		margin: 0;                                                                  
	}
	div.receitas-criacao table th img {	
		max-width: 100px;	
		width: 18vw;                                                          
	}
	div.receitas-criacao table.tabela-combinacao {
		text-shadow: 2.5px 0 0 rgb(0, 0, 0), -2.5px 0 0 rgb(0, 0, 0), 0 2.5px 0 rgb(0, 0, 0), 0 -2.5px 0 rgb(0, 0, 0), 1.2px 1.2px rgb(0, 0, 0), -1.2px -1.2px 0 rgb(0, 0, 0), 1.2px -1.2px 0 rgb(0, 0, 0), -1.2px 1.2px 0 rgb(0, 0, 0);
		margin: 1.5% 0% 0.5% 0%;
		box-shadow: none;
	}
	div.receitas-criacao table.tabela-combinacao th img {
		width: 13.5vw; 
		max-width: 90px; 
		margin:0;                                                      
	}
	div.receitas-criacao table.tabela-combinacao th {
		border:#000000 solid 4px;
		padding: 0.6vw 0.7vw 0.6vw 0.7vw;
		font-weight: normal;	                                                                    
	}
	div.receitas-criacao table.tabela-combinacao th.sinal {
		font-size: 43px;
		text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
		font-family: Arial;
	}
	div.receitas-criacao p {
		font-size: 21px;
		text-shadow: 1.9px 0 0 rgb(0, 0, 0), -1.9px 0 0 rgb(0, 0, 0), 0 1.9px 0 rgb(0, 0, 0), 0 -1.9px 0 rgb(0, 0, 0), 0.95px 0.95px rgb(0, 0, 0), -0.95px -0.95px 0 rgb(0, 0, 0), 0.95px -0.95px 0 rgb(0, 0, 0), -0.95px 0.95px 	0 rgb(0, 0, 0);
		margin: 0% 0% 1.5% 0%;
		text-align: center;
	}
	div.info-ingredientes {
		border-top: solid #000000 7px;
	}
	div.info-ingredientes div {
		border: 4px #000000 solid;
		margin: 1%;
		width: 40vw;
		max-width: 250px;
		background-size: 105% 105%;
	}
	div.info-ingredientes div img {
		border-right: 7px #000000 solid;
		min-width: 47px;
		width: 11vw;	
		margin: 0 5px 0 0;
	}
	div.info-ingredientes div h2 {
		font-size: calc(11px + 1.5vw);
		text-shadow: 1.9px 0 0 rgb(0, 0, 0), -1.9px 0 0 rgb(0, 0, 0), 0 1.9px 0 rgb(0, 0, 0), 0 -1.9px 0 rgb(0, 0, 0), 0.95px 0.95px rgb(0, 0, 0), -0.95px -0.95px 0 rgb(0, 0, 0), 0.95px -0.95px 0 rgb(0, 0, 0), -0.95px 0.95px 	0 rgb(0, 0, 0);
		min-width: 0;
		margin: 0 5px 0 5px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}
	div.receitas-criacao div.info-ingredientes div {
		margin: 1% 0.6% 1% 0.6%;
		width: 41.5vw;
	}
	div.receitas-criacao div.info-ingredientes div h2 {
		font-size: calc(7.5px + 1.5vw);
		text-shadow: 1.5px 0 0 rgb(0, 0, 0), -1.5px 0 0 rgb(0, 0, 0), 0 1.5px 0 rgb(0, 0, 0), 0 -1.5px 0 rgb(0, 0, 0), 0.8px 0.8px rgb(0, 0, 0), -0.8px -0.8px 0 rgb(0, 0, 0), 0.8px -0.8px 0 rgb(0, 0, 0), -0.8px 0.8px 	0 rgb(0, 0, 0);
	}
	div.receitas-criacao div.info-ingredientes div img {
		min-height: 100%;
	}
	div.info-ingredientes div h2.ingrediente-centralizado {
		margin: 0;
	}
}
/* Conteudo da Pagina */
/* Introdução Receitas */
.banner-principal img {
	width: 98%;
	height: 100px;
	margin: 1% 1% 0% 1%;
	box-shadow: 3.5px 3.5px 3px rgba(0, 0, 0, 0.7);
}
h1.introducao-titulo {
	position: relative;
	margin-top: -80px;
	text-align: center;
	font-family: batukapur;
	font-weight: normal;
	font-size: 48px;
	color: #00D900;
	text-shadow: 3px 0 0 rgb(0, 0, 0), -3px 0 0 rgb(0, 0, 0), 0 3px 0 rgb(0, 0, 0), 0 -3px 0 rgb(0, 0, 0), 1.5px 1.5px rgb(0, 0, 0), -1.5px -1.5px 0 rgb(0, 0, 0), 1.5px -1.5px 0 rgb(0, 0, 0), -1.5px 1.5px 0 rgb(0, 0, 0);
	letter-spacing: 1px;
}
div.secao-principal {
	background-image: url("../_imagens/fundo_infinito.jpg");
	background-repeat: repeat;
	margin: -15px 1% 0% 1%;
	border: 8px solid #000000;
	box-shadow: 3.5px 3.5px 3px rgba(0, 0, 0, 0.7);
	display: flex;
	flex-direction: column;
	align-items: center;
}
div.secao-principal p.introducao {
	font-size: 28px;
	color: #FFFFFF;
	text-align: center;
	text-shadow: 2.5px 0 0 rgb(0, 0, 0), -2.5px 0 0 rgb(0, 0, 0), 0 2.5px 0 rgb(0, 0, 0), 0 -2.5px 0 rgb(0, 0, 0), 1.2px 1.2px rgb(0, 0, 0), -1.2px -1.2px 0 rgb(0, 0, 0), 1.2px -1.2px 0 rgb(0, 0, 0), -1.2px 1.2px 0 rgb(0, 0, 0);
	font-weight: bold;
	margin: 1% 2% 1.5% 2%;
}
div.secao-principal picture.introducao-img img {
	border: 6px solid #000000;
	box-shadow: 2.2px 2.2px 1px rgba(0, 0, 0, 0.9);
	width: 65vw;
	min-width: 290px;
	min-height: 190px;
	margin: 0% 0% 2% 0%;
}
div.secao-principal div.alambiques {
	display: flex;
	justify-content: center;
	width: 100%;
}
div.alambiques picture.alambique-menor img, div.alambiques picture.alambique-maior img {
	border: solid 6px #000000;
	box-shadow: 2.2px 2.2px 1px rgba(0, 0, 0, 0.9);
	width: 28vw;
	min-width: 290px;
}
div.alambiques picture.alambique-menor img {
	margin: 0 5vw 2% 0;
}
div.alambiques picture.alambique-maior img {
	margin: 0 0 2% 5vw;
}
p a:hover {
	cursor: url('../_recursos/cursor_link.cur'), auto;
}
/* Introdução Receitas (Mobile) */
@media screen and (max-width: 800px) {
	.banner-principal img {
		box-shadow: 2px 2px 1.8px rgba(0, 0, 0, 0.7);
	}
	div.secao-principal {
		box-shadow: 2px 2px 1.8px rgba(0, 0, 0, 0.7);
	}
	div.secao-principal picture.introducao-img img {
		width: 80vw;
		min-width: 0;
		margin: 0% 0% 2% 0%;
	}
	div.secao-principal div.alambiques {
		flex-direction: column;
		align-items: center;
	}
	div.alambiques picture.alambique-menor img, div.alambiques picture.alambique-maior img {
		width: 80vw;
		min-width: 0;
		margin: 2% 0 2% 0;
	}
	div.secao-principal p.introducao {
		font-size: 23px;
		text-shadow: 1.9px 0 0 rgb(0, 0, 0), -1.9px 0 0 rgb(0, 0, 0), 0 1.9px 0 rgb(0, 0, 0), 0 -1.9px 0 rgb(0, 0, 0), 0.9px 0.9px rgb(0, 0, 0), -0.9px -0.9px 0 rgb(0, 0, 0), 0.9px -0.9px 0 rgb(0, 0, 0), -0.9px 0.9px 0 rgb(0, 0, 0);
		margin: 1.5% 3% 2.5% 3%;
	}
}
/* Infusões */
.banner-infusoes img {
	width: 98%;
	height: 100px;
	margin: 1% 1% 0% 1%;
	box-shadow: 3.5px 3.5px 3px rgba(0, 0, 0, 0.7);
}
h1.infusoes-titulo {
	position: relative;
	margin-top: -80px;
	text-align: center;
	font-family: batukapur;
	font-weight: normal;
	font-size: 48px;
	color: #00D900;
	text-shadow: 3px 0 0 rgb(0, 0, 0), -3px 0 0 rgb(0, 0, 0), 0 3px 0 rgb(0, 0, 0), 0 -3px 0 rgb(0, 0, 0), 1.5px 1.5px rgb(0, 0, 0), -1.5px -1.5px 0 rgb(0, 0, 0), 1.5px -1.5px 0 rgb(0, 0, 0), -1.5px 1.5px 0 rgb(0, 0, 0);
	letter-spacing: 1px;
}
div.infusoes {
	background-image: url("../_imagens/fundo_infinito.jpg");
	background-repeat: repeat;
	margin: -15px 1% 0% 1%;
	border: 8px solid #000000;
	box-shadow: 3.5px 3.5px 3px rgba(0, 0, 0, 0.7);
	display: flex;
	flex-direction: column;
	align-items: center;
}
div.infusoes div.info-ingredientes {
	border-bottom: none;
}
div.infusoes div.infusoes-introducao {
	display: inline-block;
}
div.infusoes div.infusoes-introducao img {
	float: left;
	max-width: 330px;
	max-height: 170px;
	margin: 1% 1% 0% 1%;
	border: 5px solid #000000;
}
div.infusoes-introducao p {
	font-size: 25px;
	text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
	text-align: justify;
	margin: 1% 2% 1.5% 2%;
	text-indent: 70px;
}
div.infusoes-introducao p.introducao-auxiliar {
	color: #BFEDEF;
}
div.infusoes-introducao p.introducao-auxiliar span.sublinhado {
	border-bottom: solid #BFEDEF 2px;
}
div.infusoes-diferencas {
	display: flex;
	align-items: center;
}
div.infusoes-diferencas img {
	max-width: 200px;
	width: 20vw;
	margin: 1% 1% 1% 1%;
	border: 5px solid #000000;
	box-shadow: 2px 2px 1.8px rgba(0, 0, 0, 0.7);
}
div.infusoes-diferencas-p {
	display: flex;
	flex-direction: column;
	margin: 0 20px 0 20px;
}
div.infusoes-diferencas p {
	font-size:calc(6px + 1.5vw);
	text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
	text-align: center;
	margin: 1% 1% 2% 1%;
	max-width: 800px;
}
div.infusoes-diferencas p img {
	position: relative;
	width: 1.72vw;
	height: 2.5vw;
	margin: 0 0.3vw 0 0;
	top: 0.5vw;
	max-width: none;
	max-height: none;
	border: none;
	box-shadow: none;
}
div.mobile-diferencas-img {
	display: none;
}
div.infusoes div.dica-padrao {
	border-bottom: none;
}
/* Infusões (Mobile)*/
@media screen and (max-width: 800px) {
	.banner-infusoes img {
		margin: 2% 1% 0% 1%;
		box-shadow: 2px 2px 1.8px rgba(0, 0, 0, 0.7);
	}
	div.infusoes {
		box-shadow: 2px 2px 1.8px rgba(0, 0, 0, 0.7);
	}
	div.infusoes div.infusoes-introducao {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	div.infusoes div.infusoes-introducao img {
		float: none;
		max-width: none;
		max-height: none;
		box-shadow: 2px 2px 1.8px rgba(0, 0, 0, 0.7);
		width: 73vw;
		margin: 2% 0% 2% 0%;
	}
	div.infusoes-introducao p {
		font-size: 20px;
		text-shadow: 1.9px 0 0 rgb(0, 0, 0), -1.9px 0 0 rgb(0, 0, 0), 0 1.9px 0 rgb(0, 0, 0), 0 -1.9px 0 rgb(0, 0, 0), 0.9px 0.9px rgb(0, 0, 0), -0.9px -0.9px 0 rgb(0, 0, 0), 0.9px -0.9px 0 rgb(0, 0, 0), -0.9px 0.9px 0 rgb(0, 0, 0);
		text-align: justify;
		margin: 0% 2.5% 1.5% 2.5%;
		text-indent: 70px;
	}
	div.infusoes-introducao p.introducao-auxiliar {
		text-align: center;
		font-size: 23px;
		margin: 1.5% 2% 2% 2%;
		text-indent: 0;
	}
	div.infusoes-diferencas {
		flex-direction: column;
		justify-content: center;
	}
	.desktop-img {
		display: none;
	}
	div.mobile-diferencas-img {
		display: flex;
		justify-content: center;
		width: 100%;
	}
	div.mobile-diferencas-img img {
		max-width: none;
		width: 35vw;
		margin: 2% 3% 1% 3%;
		border: 5px solid #000000;
		box-shadow: 2px 2px 1.8px rgba(0, 0, 0, 0.7);
	}
	div.infusoes-diferencas p {
		font-size: 24px;
		text-shadow: 1.9px 0 0 rgb(0, 0, 0), -1.9px 0 0 rgb(0, 0, 0), 0 1.9px 0 rgb(0, 0, 0), 0 -1.9px 0 rgb(0, 0, 0), 0.9px 0.9px rgb(0, 0, 0), -0.9px -0.9px 0 rgb(0, 0, 0), 0.9px -0.9px 0 rgb(0, 0, 0), -0.9px 0.9px 0 rgb(0, 0, 0);
		text-align: justify;
		margin: 1% 5% 2% 5%;
	}
	div.infusoes-introducao p.introducao-auxiliar span.sublinhado {
		border-bottom: solid #BFEDEF 1px;
	}
	div.infusoes-diferencas p img {
		min-width: 19px;
		min-height: 28px;
		top: 5px;
	}
	div.infusoes-diferencas-p {
		margin: 0;
	}
	div.receitas-criacao div.dica-padrao p {
		margin: 1.3% 5% 1.3% 5%;
		text-align: justify;
		font-size: 18px;
		text-shadow: 1.8px 0 0 rgb(0, 0, 0), -1.8px 0 0 rgb(0, 0, 0), 0 1.8px 0 rgb(0, 0, 0), 0 -1.8px 0 rgb(0, 0, 0), 0.8px 0.8px rgb(0, 0, 0), -0.8px -0.8px 0 rgb(0, 0, 0), 0.8px -0.8px 0 rgb(0, 0, 0), -0.8px 0.8px 0 rgb(0, 0, 0);
	}
}
/* Antibioticos */
.banner-antibioticos img {
	width: 98%;
	height: 100px;
	margin: 1% 1% 0% 1%;
	box-shadow: 3.5px 3.5px 3px rgba(0, 0, 0, 0.7);
}
h1.antibioticos-titulo {
	position: relative;
	margin-top: -80px;
	text-align: center;
	font-family: batukapur;
	font-weight: normal;
	font-size: 48px;
	color: #00D900;
	text-shadow: 3px 0 0 rgb(0, 0, 0), -3px 0 0 rgb(0, 0, 0), 0 3px 0 rgb(0, 0, 0), 0 -3px 0 rgb(0, 0, 0), 1.5px 1.5px rgb(0, 0, 0), -1.5px -1.5px 0 rgb(0, 0, 0), 1.5px -1.5px 0 rgb(0, 0, 0), -1.5px 1.5px 0 rgb(0, 0, 0);
	letter-spacing: 1px;
}
div.antibioticos {
	background-image: url("../_imagens/fundo_infinito.jpg");
	background-repeat: repeat;
	margin: -15px 1% 0% 1%;
	border: 8px solid #000000;
	box-shadow: 3.5px 3.5px 3px rgba(0, 0, 0, 0.7);
	display: flex;
	flex-direction: column;
	align-items: center;
}
div.antibioticos div.antibioticos-introducao {
	display: inline-block;
}
div.antibioticos div.antibioticos-introducao img {
	float: left;
	max-width: 330px;
	max-height: 170px;
	margin: 1% 1% 0% 1%;
	border: 5px solid #000000;
}
div.antibioticos-introducao p {
	font-size: 25px;
	text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
	text-align: justify;
	margin: 1% 2% 1.5% 2%;
	text-indent: 70px;
}
div.antibioticos div.sub-titulo {
	border-top: none;
}
div.antibioticos div.sub-titulo-2 {
	border-top: 7px solid #000000;
}
div.antibioticos-infos {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: justify;
	font-size: 24px;
	text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
	border-top: 7px solid #000000;
}
div.antibioticos-infos h2 {
	font-size: 31px;
	font-weight: bold;
	margin: 1% 5% 1% 5%;
	letter-spacing: 0.05vw;
	color: #44BD2F;
	text-align: center;
	text-shadow: 2.5px 0 0 rgb(0, 0, 0), -2.5px 0 0 rgb(0, 0, 0), 0 2.5px 0 rgb(0, 0, 0), 0 -2.5px 0 rgb(0, 0, 0), 1.2px 1.2px rgb(0, 0, 0), -1.2px -1.2px 0 rgb(0, 0, 0), 1.2px -1.2px 0 rgb(0, 0, 0), -1.2px 1.2px 	0 rgb(0, 0, 0);
}
div.antibioticos-infos-p {
	display: flex;
	flex-direction: column;
	margin: 0 20px 0 20px;
	align-items: center;
}
div.antibioticos-infos img {
	max-width: 200px;
	width: 20vw;
	margin: 1% 1% 1% 1%;
	border: 5px solid #000000;
	box-shadow: 2px 2px 1.8px rgba(0, 0, 0, 0.7);
}
div.antibioticos-mobile-img {
	display: none;
}
div.antibioticos-infos p {
	font-size:calc(6px + 1.5vw);
	text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
	text-align: justify;
	margin: 1% 1% 2% 1%;
}
div.antibioticos-infos p img {
	position: relative;
	width: 1.72vw;
	height: 2.5vw;
	margin: 0 0.3vw 0 0;
	top: 0.5vw;
	border: none;
	box-shadow: none;
}
div.antibioticos div.s-bordas {
	border-top: none;
	border-bottom: none;
}
div.antibioticos span.sublinhado {
	border-bottom: solid #BFEDEF 2px;
}
div.antibioticos table.tabela-combinacao {
	margin: 0.5% 1% 1.5% 1%;
}
div.antibioticos div.info-ingredientes {
	border-bottom: none;
}
@media screen and (min-width: 800px) {
	div.antibioticos table.tabela-combinacao th {
		padding: 0.5vw 3vw 0.5vw 3vw;	                                                                    
	}
}
@media screen and (max-width: 1320px) and (min-width: 1200px) {
	div.antibioticos div.info-ingredientes div {
		margin: 0.8% 1.52vw 0.8% 1.52vw
	}
}
/* Antibioticos (Mobile) */
@media screen and (max-width: 800px) {
	.banner-antibioticos img {
		margin: 2% 1% 0% 1%;
		box-shadow: 2px 2px 1.8px rgba(0, 0, 0, 0.7);
	}
	h1.antibioticos-titulo {
		font-size: calc(30px + 2vw);
		text-shadow: 3px 0 0 rgb(0, 0, 0), -3px 0 0 rgb(0, 0, 0), 0 3px 0 rgb(0, 0, 0), 0 -3px 0 rgb(0, 0, 0), 1.5px 1.5px rgb(0, 0, 0), -1.5px -1.5px 0 rgb(0, 0, 0), 1.5px -1.5px 0 rgb(0, 0, 0), -1.5px 1.5px 0 rgb(0, 0, 0);
		margin-top: -74px;
	}
	div.antibioticos {
		box-shadow: 2px 2px 1.8px rgba(0, 0, 0, 0.7);
	}
	div.antibioticos div.antibioticos-introducao img {
		float: none;
		max-width: none;
		max-height: none;
		box-shadow: 2px 2px 1.8px rgba(0, 0, 0, 0.7);
		width: 73vw;
		margin: 20px 0% 2% 0%;
	}
	div.antibioticos div.antibioticos-introducao {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	div.antibioticos-introducao p {
		font-size: 20px;
		text-shadow: 1.9px 0 0 rgb(0, 0, 0), -1.9px 0 0 rgb(0, 0, 0), 0 1.9px 0 rgb(0, 0, 0), 0 -1.9px 0 rgb(0, 0, 0), 0.9px 0.9px rgb(0, 0, 0), -0.9px -0.9px 0 rgb(0, 0, 0), 0.9px -0.9px 0 rgb(0, 0, 0), -0.9px 0.9px 0 rgb(0, 0, 0);
		text-align: justify;
		margin: 0% 2.5% 1.5% 2.5%;
		text-indent: 70px;
	}
	div.antibioticos-infos h2 {
		font-size: 27px;
		text-shadow: 2.5px 0 0 rgb(0, 0, 0), -2.5px 0 0 rgb(0, 0, 0), 0 2.5px 0 rgb(0, 0, 0), 0 -2.5px 0 rgb(0, 0, 0), 1.2px 1.2px rgb(0, 0, 0), -1.2px -1.2px 0 rgb(0, 0, 0), 1.2px -1.2px 0 rgb(0, 0, 0), -1.2px 1.2px 	0 rgb(0, 0, 0);
	}
	div.antibioticos-infos {
		flex-direction: column;
		justify-content: center;
	}
	div.antibioticos-mobile-img {
		display: flex;
		justify-content: center;
		width: 100%;
	}
	div.antibioticos-mobile-img img {
		max-width: none;
		width: 35vw;
		margin: 2% 3% 2% 3%;
		border: 5px solid #000000;
		box-shadow: 2px 2px 1.8px rgba(0, 0, 0, 0.7);
	}
	div.antibioticos-infos p {
		font-size: 24px;
		text-shadow: 1.9px 0 0 rgb(0, 0, 0), -1.9px 0 0 rgb(0, 0, 0), 0 1.9px 0 rgb(0, 0, 0), 0 -1.9px 0 rgb(0, 0, 0), 0.9px 0.9px rgb(0, 0, 0), -0.9px -0.9px 0 rgb(0, 0, 0), 0.9px -0.9px 0 rgb(0, 0, 0), -0.9px 0.9px 0 rgb(0, 0, 0);
		text-align: justify;
		margin: 1% 5% 2% 5%;
	}
	div.antibioticos-infos p img {
		min-width: 19px;
		min-height: 28px;
		top: 5px;
	}
	div.antibioticos-infos-p {
		margin: 0;
	}
	div.antibioticos span.sublinhado {
		border-bottom: solid #BFEDEF 1px;
	}
	div.antibioticos div.receitas-criacao table th img {	
		max-width: 100px;	
		width: 18vw;                                                          
	}
	div.antibioticos div.receitas-criacao div.info-ingredientes div h2 {
		font-size: calc(9px + 1.5vw);
		text-shadow: 1.5px 0 0 rgb(0, 0, 0), -1.5px 0 0 rgb(0, 0, 0), 0 1.5px 0 rgb(0, 0, 0), 0 -1.5px 0 rgb(0, 0, 0), 0.8px 0.8px rgb(0, 0, 0), -0.8px -0.8px 0 rgb(0, 0, 0), 0.8px -0.8px 0 rgb(0, 0, 0), -0.8px 0.8px 	0 rgb(0, 0, 0);
	}
}
/* Analgesicos */
.banner-analgesicos img {
	width: 98%;
	height: 100px;
	margin: 1% 1% 0% 1%;
	box-shadow: 3.5px 3.5px 3px rgba(0, 0, 0, 0.7);
}
h1.analgesicos-titulo {
	position: relative;
	margin-top: -80px;
	text-align: center;
	font-family: batukapur;
	font-weight: normal;
	font-size: 48px;
	color: #00D900;
	text-shadow: 3px 0 0 rgb(0, 0, 0), -3px 0 0 rgb(0, 0, 0), 0 3px 0 rgb(0, 0, 0), 0 -3px 0 rgb(0, 0, 0), 1.5px 1.5px rgb(0, 0, 0), -1.5px -1.5px 0 rgb(0, 0, 0), 1.5px -1.5px 0 rgb(0, 0, 0), -1.5px 1.5px 0 rgb(0, 0, 0);
	letter-spacing: 1px;
}
div.analgesicos {
	background-image: url("../_imagens/fundo_infinito.jpg");
	background-repeat: repeat;
	margin: -1.5vw 1% 0% 1%;
	border: 8px solid #000000;
	box-shadow: 3.5px 3.5px 3px rgba(0, 0, 0, 0.7);
	display: flex;
	flex-direction: column;
	align-items: center;
}
div.analgesicos div.analgesicos-introducao {
	display: inline-block;
}
div.analgesicos div.analgesicos-introducao img {
	float: left;
	max-width: 330px;
	max-height: 170px;
	margin: 1% 1% 0% 1%;
	border: 5px solid #000000;
}
div.analgesicos-introducao p {
	font-size: 25px;
	text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
	text-align: justify;
	margin: 1% 2% 1.5% 2%;
	text-indent: 70px;
}
div.analgesicos div.sub-titulo-2 {
	border-top: 7px solid #000000;
}
div.analgesicos-infos {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: justify;
	font-size: 24px;
	text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
	border-top: 7px solid #000000;
}
div.analgesicos-infos h2 {
	font-size: 31px;
	font-weight: bold;
	margin: 1% 5% 1% 5%;
	letter-spacing: 0.05vw;
	color: #44BD2F;
	text-align: center;
	text-shadow: 2.5px 0 0 rgb(0, 0, 0), -2.5px 0 0 rgb(0, 0, 0), 0 2.5px 0 rgb(0, 0, 0), 0 -2.5px 0 rgb(0, 0, 0), 1.2px 1.2px rgb(0, 0, 0), -1.2px -1.2px 0 rgb(0, 0, 0), 1.2px -1.2px 0 rgb(0, 0, 0), -1.2px 1.2px 	0 rgb(0, 0, 0);
}
div.analgesicos-infos-p {
	display: flex;
	flex-direction: column;
	margin: 0 20px 0 20px;
	align-items: center;
}
div.analgesicos-infos img {
	max-width: 200px;
	width: 20vw;
	margin: 1% 1% 1% 1%;
	border: 5px solid #000000;
	box-shadow: 2px 2px 1.8px rgba(0, 0, 0, 0.7);
}
div.analgesicos-mobile-img {
	display: none;
}
div.analgesicos-infos p {
	font-size:calc(6px + 1.5vw);
	text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
	text-align: justify;
	margin: 1% 1% 2% 1%;
}
div.analgesicos-infos p img {
	position: relative;
	width: 1.72vw;
	height: 2.5vw;
	margin: 0 0.3vw 0 0;
	top: 0.5vw;
	border: none;
	box-shadow: none;
}
div.analgesicos div.s-bordas {
	border-top: none;
	border-bottom: none;
}
div.analgesicos span.sublinhado {
	border-bottom: solid #BFEDEF 2px;
}
div.analgesicos img#botao-tabela-pause, div.analgesicos img#botao-tabela-play {
	width: 23vw;
	max-width: 140px;
	margin: 0.5% 1% 0 1%;
}
div.analgesicos img#botao-tabela-pause:hover, div.analgesicos img#botao-tabela-play:hover {
	filter: brightness(130%);
}
div.analgesicos img#botao-tabela-play {
	display: none;
}
div.analgesicos div.receitas-criacao table {
	text-align: center;
}
div.analgesicos div.receitas-criacao table th.analgesicos-efeito {
	max-width: 25vw;
	min-width: 25vw;
	padding: 0px;
}
div.analgesicos table.tabela-combinacao {
	margin: 0.5% 1% 0% 1%;
}
div.analgesicos table.tabela-combinacao th h2 {
	margin: 3px;
	font-weight: normal;
}
div.analgesicos table.tabela-combinacao th h2 span {
	font-size: calc(5px + 1.5vw);
	text-shadow: 1.8px 0 0 rgb(0, 0, 0), -1.8px 0 0 rgb(0, 0, 0), 0 1.8px 0 rgb(0, 0, 0), 0 -1.8px 0 rgb(0, 0, 0), 0.9px 0.9px rgb(0, 0, 0), -0.9px -0.9px 0 rgb(0, 0, 0), 0.9px -0.9px 0 rgb(0, 0, 0), -0.9px 0.9px 	0 rgb(0, 0, 0);
}
div.analgesicos table.tabela-combinacao th h2 span span.sem-quebra {
	white-space: nowrap;
}
div.info-ingredientes {
	border-bottom: 7px solid #000000;
}
@media screen and (min-width: 800px) {
	div.analgesicos div.criacao-introducao p {
		text-indent: 0px; 
	}
}
@media screen and (max-width: 1320px) and (min-width: 1200px) {
	div.analgesicos div.info-ingredientes div {
		margin: 0.8% 1.52vw 0.8% 1.52vw
	}
}
/* Analgesicos (Mobile) */
@media screen and (max-width: 800px) {
	.banner-analgesicos img {
		margin: 2% 1% 0% 1%;
		box-shadow: 2px 2px 1.8px rgba(0, 0, 0, 0.7);
	}
	div.analgesicos {
		box-shadow: 2px 2px 1.8px rgba(0, 0, 0, 0.7);
	}
	h1.analgesicos-titulo {
		font-size: calc(32px + 1.8vw);
		margin-top: -75px;
	}
	div.analgesicos div.analgesicos-introducao img {
		float: none;
		max-width: none;
		max-height: none;
		box-shadow: 2px 2px 1.8px rgba(0, 0, 0, 0.7);
		width: 73vw;
		margin: 12px 0% 2% 0%;
	}
	div.analgesicos div.analgesicos-introducao {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	div.analgesicos-introducao p {
		font-size: 20px;
		text-shadow: 1.9px 0 0 rgb(0, 0, 0), -1.9px 0 0 rgb(0, 0, 0), 0 1.9px 0 rgb(0, 0, 0), 0 -1.9px 0 rgb(0, 0, 0), 0.9px 0.9px rgb(0, 0, 0), -0.9px -0.9px 0 rgb(0, 0, 0), 0.9px -0.9px 0 rgb(0, 0, 0), -0.9px 0.9px 0 rgb(0, 0, 0);
		text-align: justify;
		margin: 0% 2.5% 1.5% 2.5%;
		text-indent: 70px;
	}
	div.analgesicos-infos h2 {
		font-size: 27px;
		text-shadow: 2.5px 0 0 rgb(0, 0, 0), -2.5px 0 0 rgb(0, 0, 0), 0 2.5px 0 rgb(0, 0, 0), 0 -2.5px 0 rgb(0, 0, 0), 1.2px 1.2px rgb(0, 0, 0), -1.2px -1.2px 0 rgb(0, 0, 0), 1.2px -1.2px 0 rgb(0, 0, 0), -1.2px 1.2px 	0 rgb(0, 0, 0);
	}
	div.analgesicos-infos {
		flex-direction: column;
		justify-content: center;
	}
	div.analgesicos-mobile-img {
		display: flex;
		justify-content: center;
		width: 100%;
	}
	div.analgesicos-mobile-img img {
		max-width: none;
		width: 35vw;
		margin: 2% 3% 2% 3%;
		border: 5px solid #000000;
		box-shadow: 2px 2px 1.8px rgba(0, 0, 0, 0.7);
	}
	div.analgesicos-infos p {
		font-size: 24px;
		text-shadow: 1.9px 0 0 rgb(0, 0, 0), -1.9px 0 0 rgb(0, 0, 0), 0 1.9px 0 rgb(0, 0, 0), 0 -1.9px 0 rgb(0, 0, 0), 0.9px 0.9px rgb(0, 0, 0), -0.9px -0.9px 0 rgb(0, 0, 0), 0.9px -0.9px 0 rgb(0, 0, 0), -0.9px 0.9px 0 rgb(0, 0, 0);
		text-align: justify;
		margin: 1% 5% 2% 5%;
	}
	div.analgesicos-infos p img {
		min-width: 19px;
		min-height: 28px;
		top: 5px;
	}
	div.analgesicos-infos-p {
		margin: 0;
	}
	div.analgesicos span.sublinhado {
		border-bottom: solid #BFEDEF 1px;
	}
	div.analgesicos img#botao-tabela-pause:hover, div.analgesicos img#botao-tabela-play:hover {
		filter: none;
	}
	div.analgesicos table.tabela-combinacao {
		margin: 0.5% 1% 0.5% 1%;
	}
	div.analgesicos div.receitas-criacao table.tabela-combinacao th img {	
		width: 12vw; 
		max-width: 90px; 
		margin: 9px 0 9px 0;
	}
	div.analgesicos div.receitas-criacao table.tabela-combinacao th.sinal {
		font-size: calc(20px + 4vw);
		font-family: Arial;
	}
	div.analgesicos div.receitas-criacao table.tabela-combinacao th.analgesicos-efeito h2 {
		font-size: calc(8px + 1.7vw);
		text-shadow: 1.5px 0 0 rgb(0, 0, 0), -1.5px 0 0 rgb(0, 0, 0), 0 1.5px 0 rgb(0, 0, 0), 0 -1.5px 0 rgb(0, 0, 0), 0.8px 0.8px rgb(0, 0, 0), -0.8px -0.8px 0 rgb(0, 0, 0), 0.8px -0.8px 0 rgb(0, 0, 0), -0.8px 0.8px 	0 rgb(0, 0, 0);
	}
	div.analgesicos div.receitas-criacao div.info-ingredientes div h2 {
		font-size: calc(9px + 1.5vw);
		text-shadow: 1.5px 0 0 rgb(0, 0, 0), -1.5px 0 0 rgb(0, 0, 0), 0 1.5px 0 rgb(0, 0, 0), 0 -1.5px 0 rgb(0, 0, 0), 0.8px 0.8px rgb(0, 0, 0), -0.8px -0.8px 0 rgb(0, 0, 0), 0.8px -0.8px 0 rgb(0, 0, 0), -0.8px 0.8px 	0 rgb(0, 0, 0);
	}
	div.analgesicos table.tabela-combinacao th h2 span {
		text-shadow: 1.3px 0 0 rgb(0, 0, 0), -1.3px 0 0 rgb(0, 0, 0), 0 1.3px 0 rgb(0, 0, 0), 0 -1.3px 0 rgb(0, 0, 0), 0.8px 0.8px rgb(0, 0, 0), -0.8px -0.8px 0 rgb(0, 0, 0), 0.8px -0.8px 0 rgb(0, 0, 0), -0.8px 0.8px 	0 rgb(0, 0, 0);
	}
}
/* Footer */
	footer {
		position: relative;
		font-size: 1.45vw;
		font-weight: bold;
		font-family: frizquadrata;
		color:#504f4f;
		margin: 1% 1% 0 1%;
		overflow: hidden;
	}
	footer ul {
		padding: 0 0 2.5% 0;
		margin:0;
	}
	footer li {
		list-style: none;
		display: inline-block;
	}
	footer li#contato {
		float: right;
		font-weight: bold;
	}
	footer li#contato span {
		font-weight: bolder;
	}
	footer li#copyright {
		float: left;
	}
/* Footer (Mobile) */
	@media screen and (max-width: 800px) {
		footer {
			font-size: 4vw;
			text-align: center;
			margin: 3% 1% 0 1%;
		}
		footer li#contato {
			float: none;
		}
		footer li#copyright {
			float: none;
		}
	}