@charset "UTF-8";
/* Corpo de Todo o Site */	
	body {
		position: relative;
       	overflow-x: hidden;
		margin: 0vw;
		cursor: url('../_recursos/cursor.cur'), auto;
		padding: 0vw;
		width: 98.78vw;
		max-width: 100%;
		display: block;
		min-height: 100vh;
	}	
/* Corpo da Pagina */
	div#corpo {
		background-image: url('../_imagens/fundo.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: 98.78vw 100%;
		position: relative;
		top: 0;
		width: 99vw;
		max-width: 100%;
		overflow: hidden;
		color: #ffffff;	
	}	
	div#fundobranco {
		position: relative;
		background-color: rgba(255, 255, 255, 0.75);
		width: 97.8%;
		height: 99.53%;
		top: 3.8vw;
		margin: 0vw 0.9vw 5vw 0.9vw;
		max-width: 100%;
	}
	div#conteudo {
		width: 100%;
		height: 100%;
		font-size: 2vw;
		font-family: frizquadrata;
		top: 0vw;
		max-width: 100%;
	}
/* Corpo da Pagina - Mobile */
	@media screen and (max-width: 800px) {
		div#corpo {
			background-image: url('../_imagens/fundo_mobile.jpg');
			background-color:#000000;
			margin-top: -5.4vw;
			height: 100%;
			background-size: 120% 100%;
			overflow: hidden;
		}
		div#fundobranco {
			top: 4.5vw;
			width: 97.6vw !important;
			margin: 0vw 0vw 7vw 1.6vw !important;
			height: 99.65%;
		}
	}
/* Padrões */
a {
	color: inherit;
}
span.amarelo {
	color: #FFFF00;
}
span.sublinhado {
	border-bottom: solid #FFFFFF 0.2vw;
}
p.atencao-padrao {
	margin: 10px 20px 19px 20px;
	max-width: 1200px;
	min-width: 200px;
	text-align: justify;
	font-size: 24px;
	text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
}
div.dica-padrao {
	width: 100%;
	border-top: 7px solid #000000;
	border-bottom: 7px solid #000000;
}
div.dica-padrao p {
	margin: 1% 2% 1% 2%;
	color: #BFEDEF;
	max-width: 1300px;
	min-width: 200px;
	font-weight: normal;
	text-align: justify;
	font-size: 24px;
	text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
}
div.dica-padrao p span.dica {
	font-weight: bold;
	color: #96E2E5;
	border-bottom: solid #96E2E5 0.2vw;
}
/* Conteudo da Pagina */
/* Introdução Receitas */
.banner-principal img {
	width: 98%;
	height: 100px;
	margin: 1% 1% 0% 1%;
	box-shadow: 3.5px 3.5px 3px rgba(0, 0, 0, 0.7);
}
h1.introducao-titulo {
	position: relative;
	margin-top: -80px;
	text-align: center;
	font-family: batukapur;
	font-weight: normal;
	font-size: 48px;
	color: #00D900;
	text-shadow: 3px 0 0 rgb(0, 0, 0), -3px 0 0 rgb(0, 0, 0), 0 3px 0 rgb(0, 0, 0), 0 -3px 0 rgb(0, 0, 0), 1.5px 1.5px rgb(0, 0, 0), -1.5px -1.5px 0 rgb(0, 0, 0), 1.5px -1.5px 0 rgb(0, 0, 0), -1.5px 1.5px 0 rgb(0, 0, 0);
	letter-spacing: 1px;
}
div.secao-principal {
	background-image: url("../_imagens/fundo_infinito.jpg");
	background-repeat: repeat;
	margin: -15px 1% 0% 1%;
	border: 8px solid #000000;
	box-shadow: 3.5px 3.5px 3px rgba(0, 0, 0, 0.7);
	display: flex;
	flex-direction: column;
	align-items: center;
}
div.secao-principal p.introducao {
	font-size: 28px;
	color: #FFFFFF;
	text-align: center;
	text-shadow: 2.5px 0 0 rgb(0, 0, 0), -2.5px 0 0 rgb(0, 0, 0), 0 2.5px 0 rgb(0, 0, 0), 0 -2.5px 0 rgb(0, 0, 0), 1.2px 1.2px rgb(0, 0, 0), -1.2px -1.2px 0 rgb(0, 0, 0), 1.2px -1.2px 0 rgb(0, 0, 0), -1.2px 1.2px 0 rgb(0, 0, 0);
	font-weight: bold;
	margin: 1% 2% 1.5% 2%;
}
div.secao-principal picture.introducao-img img {
	border: 6px solid #000000;
	box-shadow: 2.2px 2.2px 1px rgba(0, 0, 0, 0.9);
	width: 65vw;
	min-width: 300px;
	margin: 0% 1% 1% 1%;
}
div.secao-principal div.alambiques {
	display: flex;
	justify-content: center;
	width: 100%;
}
div.alambiques picture.alambique-menor img, div.alambiques picture.alambique-maior img {
	border: solid 6px #000000;
	box-shadow: 2.2px 2.2px 1px rgba(0, 0, 0, 0.9);
	width: 28vw;
}
div.alambiques picture.alambique-menor img {
	margin: 0 5vw 1% 0;
}
div.alambiques picture.alambique-maior img {
	margin: 0 0 1% 5vw;
}
p span.link-mapa {
	border-bottom: solid #BFEDEF 0.2vw;
}
p span.link-mapa:hover {
	cursor: url('../_recursos/cursor_link.cur'), auto;
}
/* Introdução Receitas (Mobile) */

/* Footer */
	footer {
		position: relative;
		font-size: 1.45vw;
		font-weight: bold;
		font-family: frizquadrata;
		color:#504f4f;
		margin: 1% 1% 0 1%;
		overflow: hidden;
	}
	footer ul {
		padding: 0 0 2.5% 0;
		margin:0;
	}
	footer li {
		list-style: none;
		display: inline-block;
	}
	footer li#contato {
		float: right;
		font-weight: bold;
	}
	footer li#contato span {
		font-weight: bolder;
	}
	footer li#copyright {
		float: left;
	}
/* Footer (Mobile) */
	@media screen and (max-width: 800px) {
		footer {
			font-size: 4vw;
			text-align: center;
			margin: 3% 1% 0 1%;
		}
		footer li#contato {
			float: none;
		}
		footer li#copyright {
			float: none;
		}
	}